/* See license.txt for terms of usage */

/*************************************************************************************************/
/* Customizable Dialog Toolbar Buttons */

/* Inspector button */
#firebug-inspectorButton {
    list-style-image: url(chrome://firebug/skin/inspect.svg);
}

#firebug-inspectorButton:hover {
    filter: url(resource://firebugui/filters.svg#darken);
}

#firebug-inspectorButton:active {
    filter: url(resource://firebugui/filters.svg#deepDarken);
}

/* Firebug Start Button */
#firebug-button {
    -moz-binding: url("chrome://firebug/content/firefox/start-button/startButton.xml#start-button");
    list-style-image: url(chrome://firebug/skin/firebugSmall.svg) !important;
    filter: url(resource://firebugui/filters.svg#grayscale);
}

#firebug-button[firebugActive="true"] {
    filter: none;
}

/* Error badge (displays an error counter). The badge is only visible if error count
   should be displayed */
#firebug-error-badge {
    display: none;
    margin: 0;
}

#firebug-error-badge[showErrors="true"] {
    display: block;
    -moz-box-sizing: border-box;
}

#firebug-error-label {
    -moz-box-sizing: border-box;
    visibility: hidden;
    font-size: 10px;
    padding: 0 3px;
    line-height: 13px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 0 1px #EEF1F7;
    color: #900;
    border-radius: 3px;
    background-color: rgba(255, 0, 0, 0.9);
    box-shadow: inset 0px 0px 1px white;
    background-image: linear-gradient(
        to top,
        #DBE1EB 0%,
        #DEE4EB 80%,
        #E7EBF3 81%
    );
    border-width: 1px;
    border-style: solid;
    border-color: #B3BBC4 #9DA4AD #868D96 #9DA4AD;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.3) inset,
                0 1px 0 rgba(180, 189, 202, 0.7),
                0 0 3px rgba(153, 0, 0, 0.9);
}

#firebug-error-badge[showErrors="true"] > #firebug-error-label:not([errorCount="0"]) {
    visibility: visible;
}

/* old statusbar item look when on addonbar*/
#addon-bar #firebug-button dropmarker {
    display: none;
}

#addon-bar #firebug-button .fb-toolbarbutton {
    padding: 0 3px !important;
}

/* Slightly different positions of the badge for individual toolbars */
#nav-bar #firebug-error-badge {
    margin: 3px -10px 0 -8px;
}

#addon-bar #firebug-error-badge {
    margin-top: 1px;
}

#TabsToolbar #firebug-error-badge {
    margin-top: 4px;
}

#toolbar-menubar #firebug-error-badge {
    margin-top: 4px;
}

#firebug-button .fb-toolbarbutton {
    padding: 0;
}

/*************************************************************************************************/
/* Firebug Menu & Firefox context menu */

#menu_firebug,
#appmenu_firebug,
#menu_webDeveloper_firebug {
    list-style-image: url(chrome://firebug/skin/firebugSmall.svg);
}

#menu_firebug_firebugInspect {
    list-style-image: url(chrome://firebug/skin/inspect.svg);
}

#menu_firebug_firebugInspect:hover {
    filter: url(resource://firebugui/filters.svg#darken);
}

#menu_firebug_firebugInspect:active {
    filter: url(resource://firebugui/filters.svg#deepDarken);
}

/*************************************************************************************************/
/* browser.xul & browserOverlayWithFrame */

#fbMainFrame {
    height: 270px;
    width: 370px;
    min-height: 30px;
    min-width: 30px;
}

/*************************************************************************************************/
/* Firebug Splitter */

#fbContentSplitter{
    border-color: none;
    background-color: rgb(221,221,221);
    /*background-color: rgb(210, 224, 237); Australis*/
    border: none;
}

#fbContentSplitter[dir=reverse]{
    transform: scale(-1, -1);
}

#fbContentSplitter[orient=vertical] {
    min-height: 5px;
    max-height: 5px;
    /*background-color: -moz-dialog;*/
}

#fbContentSplitter[orient=horizontal] {
    min-width: 5px;
    max-width: 5px;
    /*background-color: -moz-dialog;*/
}

/*************************************************************************************************/
/* Start Button Tooltip */

.firebugButtonTooltip .version {
    font-weight: bold;
}

.firebugButtonTooltip .alwaysOn {
    color: gray;
}

.firebugButtonTooltip .enablement {
    border-top: 1px gray dotted;
    margin-top: 5px;
    padding-top: 5px;
    font-style: italic;
}

.firebugButtonTooltip .panelName,
.firebugButtonTooltip .panelStatus {
    color: gray;
    margin-top: 0;
    margin-bottom: 0;
    min-width: 75px
}

.firebugButtonTooltip .panelStatus.on,
.firebugButtonTooltip .panelName.on {
    color: black;
}
