/* Make sure the error-badge is positioned relative to the FB button */
#firebug-badged-button {
    position: relative;
}

/* Position absolute. This will make the error-badge not move any adjacent elements
   when it's content is updated */
#nav-bar #firebug-error-badge {
    margin: 0;
    position: absolute;
    left: -5px;
    top: -5px;
}

#firebug-error-label {
    -moz-box-sizing: border-box;
    background: #C13832 none;
    border: none;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-family: inherit;
    font-size: 8px;
    line-height: 1;
    padding: 1px 2px;
    visibility: hidden;
    white-space: nowrap;
}

#fbContentSplitter {
    border-color: threedShadow !important;
    background-color: #FFFFFF;
}

#fbContentSplitter[dir=reverse] {
    transform: scale(-1, -1);
}

#fbContentSplitter[orient=vertical] {
    background: transparent;
    border-bottom-width: 0;
    min-height: 7px;
    height: 7px;
    margin-bottom: -7px;
    position: relative;
}

#fbContentSplitter[orient=horizontal] {
    border-right: 1px solid !important;
    border-left: none;
    min-width: 5px;
    max-width: 5px;
    background-color: -moz-dialog;
}