/* Make sure the error-badge is positioned relative to the FB button */
#firebug-badged-button {
    position: relative;
}

/* Position absolute. This will make the error-badge not move any adjacent elements
   when it's content is updated */
#nav-bar #firebug-error-badge {
    margin: 0;
    position: absolute;
    left: -5px;
    top: -5px;
}

#firebug-error-label {
    -moz-box-sizing: border-box;
    background: #C13832 none;
    border: none;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-family: inherit;
    font-size: 8px;
    line-height: 1;
    padding: 1px 2px;
    visibility: hidden;
    white-space: nowrap;
}

#fbContentSplitter {
    position: relative;
    background: transparent none;
}

#fbContentSplitter[dir=reverse] {
    transform: scale(-1, -1);
}

#fbContentSplitter[orient=vertical] {
    min-height: 3px;
    height: 3px;
    margin-top: -3px;
    border-bottom: 1px solid #bebebe;
}

#fbContentSplitter[orient=vertical][dir=reverse] {
    margin-top: 0;
    margin-bottom: -3px;
}

#fbContentSplitter[orient=horizontal] {
    min-width: 3px;
    width: 3px;
    margin-left: -3px;
    border-right: 1px solid #bebebe;
}

#fbContentSplitter[orient=horizontal][dir=reverse] {
    margin-left: 0;
    margin-right: -3px;
}