/* See license.txt for terms of usage */

.breakpointHeader {
    position: relative;
    cursor: pointer;
    -moz-user-select: none;
}

.breakpointHeader > .twisty {
    background-position: 4px 4px !important;
}

.breakpointsHeaderLabel {
    margin-left: 14px;
} 

.breakpointBlock > .breakpointsGroupListBox {
    display: none;
}

.breakpointBlock.opened > .breakpointsGroupListBox {
    display: block;
}

/************************************************************************************************/
/* Breakpoint notifications */

.notationCaption {
    padding-top: 5px;
}

.notationTitle {
    font-weight: bold;
}

.notationTitle.diff {
    font-weight: normal;
}

.notationButton {
    float: right;
}

.breakNotification .doNotShowBreakNotification {
    vertical-align: middle;
}

/************************************************************************************************/
