/* See license.txt for terms of usage */

.breakpointBlock > .breakpointHeader {
    position: relative;
    cursor: pointer;
    -moz-user-select: none;
    margin: 0;
    border-top: none;
}

.breakpointsHeaderLabel {
    margin-left: 14px;
}

.breakpointBlock > .breakpointsGroupListBox {
    display: none;
}

.breakpointBlock.opened > .breakpointsGroupListBox {
    display: block;
}

.breakpointsGroupListBox {
    overflow: hidden;
}

.breakpointBlockHead {
    position: relative;
    padding-top: 4px;
}

.breakpointBlockHead > .checkbox {
    margin-right: 4px;
}

.breakpointBlockHead > .objectLink-sourceLink {
    top: 4px;
    right: 20px;
    background-color: #FFFFFF; /* issue 3308 */
}

.breakpointBlockHead > .closeButton {
    position: absolute;
    top: 2px;
    right: 2px;
}

.breakpointCheckbox {
    margin-top: 0;
    vertical-align: top;
}

.breakpointName {
    margin-left: 4px;
    font-weight: bold;
}

.breakpointRow.disabled > .breakpointBlockHead > *,
.breakpointRow.disabled > .breakpointCode {
    opacity: 0.5;
}

.breakpointRow.disabled > .breakpointBlockHead > .breakpointCheckbox,
.breakpointRow.disabled > .breakpointBlockHead > .objectLink-sourceLink,
.breakpointRow.disabled > .breakpointBlockHead > .breakpointMutationType,
.breakpointRow.disabled > .breakpointBlockHead > .closeButton {
    opacity: 1.0;
}

.breakpointCode {
    overflow: hidden;
    white-space: nowrap;
    padding-left: 24px;
    padding-bottom: 2px;
    border-bottom: 1px solid #D7D7D7;
    font-family: monospace;
    color: DarkGreen;
}

.breakpointCondition {
    white-space: nowrap;
    padding-left: 24px;
    padding-bottom: 2px;
    border-bottom: 1px solid #D7D7D7;
    font-family: monospace;
    color: Gray;
}

.breakpointBlock-breakpoints > .groupHeader {
    display: none;
}

.breakpointBlock-monitors > .breakpointCode {
    padding: 0;
}

.breakpointBlock-errorBreakpoints .breakpointCheckbox,
.breakpointBlock-monitors .breakpointCheckbox {
    display: none;
}

/************************************************************************************************/
/* Breakpoint notifications */

.notationCaption {
    padding-top: 5px;
}

.notationTitle {
    font-weight: bold;
}

.notationTitle.diff {
    font-weight: normal;
}

.notationButton {
    float: right;
}

.breakNotification .doNotShowBreakNotification {
    vertical-align: middle;
}

/************************************************************************************************/
