/* See license.txt for terms of usage */

.panelNode-console {
    overflow-x: hidden;
}

.objectLink:hover {
    cursor: pointer;
    text-decoration: underline;
}

.logRow {
    display: table;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #D7D7D7;
    background-color: #FFFFFF;
}

.logGroup {
    background: #FFFFFF linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 18px, transparent 51px) repeat-x;
    padding: 0;
    border: none;
}

.logGroupLabel {
    border: none;
}

.logGroupBody {
    display: none;
    margin-left: 16px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-left: 1px solid #D7D7D7;
    border-top: 1px solid #D7D7D7;
    background: #FFFFFF;
}

.logGroup > .logRow {
    background-color: transparent !important;
    font-weight: bold;

    /* Override the value from panel.css, so the twisty button is
    vertically centered with the group label row */
    background-position: 2px calc(0.5em - 5px) !important;
}

.logGroup.opened > .logRow {
    border-bottom: none;
}

.logGroup.opened > .logGroupBody {
    display: block;
}

.logRow > div {
    display: table-row;
}

.logContent {
    display: table-cell;
    padding: 2px 0 2px 4px;
}

.logContent:empty {
    display: none;
}

.logCounter {
    display: none;
    padding: 2px 0 2px 5px;
    width: 20px;
}

.logCounter[count] {
    display: table-cell;
}

.logCounterValue:empty {
    display: none;
}

.logCounterValue {
    border: 0.1em solid rgba(0, 0, 0, 0.4);
    border-radius: 40px 40px 40px 40px;
    background-color: #ffffff;
    font-weight: bold;
    padding: 0 4px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0.4) 30%, transparent);
}

/*************************************************************************************************/

.logRow-command > div > .logContent > .objectBox-text {
    font-family: monospace;
    color: #0000FF;
    white-space: pre-wrap;
}

.logRow-info,
.logRow-warn,
.logRow-error,
.logRow-assert,
.logRow-warningMessage,
.logRow-loading,
.logRow-errorMessage {
    background-repeat: no-repeat;
    background-position: 4px center;
}

.logRow-info > div > .logContent,
.logRow-warn > div > .logContent,
.logRow-error > div > .logContent,
.logRow-assert > div > .logContent,
.logRow-warningMessage > div > .logContent,
.logRow-loading > div > .logContent,
.logRow-errorMessage > div > .logContent {
    padding-left: 22px;
}

.logRow-assert,
.logRow-warningMessage,
.logRow-errorMessage {
    padding-top: 0;
    padding-bottom: 0;
}

.logRow-info,
.logRow-info .objectLink-sourceLink {
    background-color: #EBF5FF;
}

.logRow-warn,
.logRow-warningMessage,
.logRow-warn .objectLink-sourceLink,
.logRow-warningMessage .objectLink-sourceLink {
    background-color: #FFFFC8;
}

.logRow-error,
.logRow-assert,
.logRow-errorMessage,
.logRow-error .objectLink-sourceLink,
.logRow-errorMessage .objectLink-sourceLink {
    background-color: #FFEBEB;
}

.logRow-error,
.logRow-assert,
.logRow-errorMessage {
    color: #FF0000;
}

.logRow-info {
    background-image: url(chrome://firebug/skin/info.svg);
}

.logRow-loading {
    background-image: url(chrome://firebug/skin/loading.svg);
}

.logRow-warn,
.logRow-warningMessage {
    background-image: url(chrome://firebug/skin/warning.svg);
}

.logRow-error,
.logRow-assert,
.logRow-errorMessage {
    background-image: url(chrome://firebug/skin/error.svg);
}

/*************************************************************************************************/

.inline {
    display: inline;
    white-space: normal;
}

.objectBox-string,
.objectBox-text,
.objectBox-number,
.objectLink-element,
.objectLink-textNode,
.objectLink-function,
.objectBox-stackTrace,
.objectLink-profile,
.objectBox-table {
    font-family: monospace;
}

.objectBox-string,
.objectBox-text,
.objectLink-textNode,
.objectBox-table {
    white-space: pre-wrap;
}

.objectBox-number,
.objectLink-styleRule,
.objectLink-element,
.objectLink-textNode {
    color: #000088;
}

.objectBox-string {
    color: #FF0000;
}

.objectLink-function,
.objectBox-stackTrace,
.objectLink-profile  {
    color: DarkGreen;
}

.objectBox-null,
.objectBox-undefined,
.objectBox-hint,
.logRowHint {
    font-style: italic;
    color: #787878;
}

.objectBox-scope {
    color: #707070;
}
.objectBox-optimizedAway {
    color: #909090;
}

.objectLink-sourceLink {
    position: absolute;
    right: 4px;
    top: 2px;
    padding-left: 8px;
    font-family: Lucida Grande, sans-serif;
    font-weight: bold;
    color: #0000FF;
}

.objectLink-sourceLink > .systemLink {
    float: right;
    color: #FF0000;
}


.logRow:not(.logRow-group) > div > .objectLink-sourceLink {
    position: relative;
    display: table-cell;
    padding: 0 4px;
    text-align: right;
    width: 0;
    white-space: nowrap;
}

.logRow > .objectLink-sourceLink > div,
.errorSourceBox > .objectLink-sourceLink > div {
    float: left;
    padding-left: 5px;
}

/*************************************************************************************************/

/* Top and bottom padding should be zero otherwise the total height
of an error log is affected (higher than other logs). */
.errorTitle {
    margin-top: 0;
    margin-bottom: 1px;
    padding-top: 0;
    padding-bottom: 0;
}

.errorTrace {
    color: black;
    margin-left: 17px;
}

.errorTrace .objectBox-stackFrame {
    color: blue;
}

/* Used for a message explaining missing stack trace for an error log */
.errorTrace .descriptionBox {
    background-image: url(chrome://firebug/skin/info.svg);
    background-repeat: no-repeat;
    padding: 0 0 2px 20px;
}

.errorDuplication {
    margin-right: 5px;
    font-weight: bold;
}

.errorSourceBox {
    margin: 2px 0;
}

.errorSource-none {
    display: none;
}

.errorSource-syntax > .errorBreak {
    visibility: hidden;
}

.errorSource {
    cursor: pointer;
    font-family: monospace;
    color: DarkGreen;
}

.errorSource:hover {
    text-decoration: underline;
}

.errorColPosition {
    -moz-user-select: none;
    font-family: monospace;
    color: DarkGreen;
    display: inline-block;
}

.errorColCaret {
    width: 7px;
    height: 9px;
    background: url(chrome://firebug/skin/errorColumnIndicator.svg) no-repeat 100% 100%;
    display: inline-block;
    vertical-align: top;
    margin-left: 1px;
}

.errorBreak {
    cursor: pointer;
    display: none;
    margin: 0 6px 0 0;
    width: 12px;
    height: 12px;
    vertical-align: baseline;
    background: url(chrome://firebug/skin/breakpoint.svg) no-repeat center center;
    opacity: 0.1;
}

.errorUnbreakable {
    display: none;
}

.hasBreakSwitch .errorBreak {
    display: block;
}

.breakForError .errorBreak {
    opacity: 1;
}

.assertDescription {
    margin: 0;
}

/*************************************************************************************************/
/* Profiler */

.logRow-profile > .logRow > .objectBox-text {
    font-family: Lucida Grande, Tahoma, sans-serif;
    color: #000000;
}

.logRow-profile > .logRow > .objectBox-text:last-child {
    color: #555555;
    font-style: italic;
}

.logRow-profile.opened > .logRow {
    padding-bottom: 4px;
}

.profilerRunning .logRow {
    background: transparent url(chrome://firebug/skin/loading.svg) no-repeat 2px 0 !important;
    padding-left: 22px !important;
}

/* Remove left border for the log body. It will be applied to the profile table, so there
   can be a little padding at the bottom when the profile-log is expanded.
   Remove also the top border */
.logRow-profile .logGroupBody {
    border-left: 0;
    border-top: 0;
}

.logGroup .profileTable {
    border: 1px solid #D7D7D7;
    border-right: none;
}

/*************************************************************************************************/

.logRow-table {
    padding: 0;
}

/* Tables should get the entire space of log content area */
.logRow-table .logContent {
    padding: 0;
}

.profileSizer {
    width: 100%;
    margin-top: 5px;
    padding-bottom: 5px;
}

.profileSizer:focus {
    outline: none;
}

.profileTable TBODY {
    overflow-x: hidden;
    overflow-y: scroll;
}

.profileTable tr:nth-child(even) {
    background-color: #EFEFEF;
}

.profileTable tr:nth-child(even) {
    background-color: #EFEFEF;
}

.profileTable .profileSummaryRow {
    height: 30px;
    background: #BBBBBB !important;
    font-weight: bold;
}

.profileTable a {
    vertical-align:middle;
}

.profileTable td {
    padding: 1px 4px 0 4px;
}

/*************************************************************************************************/
/* Profiler Header */

.headerCell {
    cursor: pointer;
    -moz-user-select: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 !important;
    font-weight: bold;
    background: linear-gradient(
            rgba(255, 255, 255, 0.05),
            rgba(0, 0, 0, 0.05)),
        radial-gradient(1px 60% at right,
            rgba(0, 0, 0, 0.8) 0%,
            transparent 80%) repeat-x #C8D2DC;
    color: #000000;
    white-space: nowrap;
}

.headerCellBox {
    padding: 2px 13px 2px 4px;
}

.headerSorted {
    background-color: #AAC3DC;
}

.headerSorted > .headerCellBox {
    background: url(chrome://firebug/skin/arrowDown.svg) no-repeat calc(100% - 4px);
}

.headerSorted.sortedAscending > .headerCellBox {
    background-image: url(chrome://firebug/skin/arrowUp.svg);
}

.headerCell:hover:active {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.1),
            transparent),
        radial-gradient(1px 60% at right,
            rgba(0, 0, 0, 0.8) 0%,
            transparent 80%);
}

.linkCell {
    text-align: right;
}

.linkCell > .objectLink-sourceLink {
    position: static;
}

.useA11y .profileTable *:focus {
    outline-offset: -2px;
}

/*************************************************************************************************/
/* Command Line Help */

.logRow-help .logGroupBody {
    border-bottom: 1px solid #D7D7D7;
}

.logRow-help .logGroupLabel {
    text-decoration: none !important;
}

.logRow-help > .logRow {
    background-position: 2px 3px !important;
}

.logRow-help .helpCaptionDesc {
    color: gray;
    font-weight: normal;
    padding-left: 10px;
}

.logRow-help .helpTable {
    margin-bottom: 4px;
}

.logRow-help .helpCell {
    padding: 2px 4px 2px 4px;
}

.logRow-help .helpTable tr:nth-child(even) {
    background-color: #EFEFEF;
}

.logRow-help .commandName .objectLink {
    color: green;
    font-family: monospace;
}

.logRow-help .commandDesc {
    color: gray;
}

.logRow-help .logGroupBody > div > .logContent {
    padding: 0;
}

.logRow-help .tipsList {
    padding-left: 2em;
}

.logRow-help .tipsList > .tip {
    margin-bottom: 5px;
}

.logRow-help .tipsList > .tip > .example {
    color: green;
    font-family: monospace;
}

/*************************************************************************************************/

.logRow-stackTrace {
    padding-top: 0;
    background: #F8F8F8;
}

.errorSourceBox {
    position: relative;
    padding-top: 2px;
}

/*************************************************************************************************/

.objectLink-event,
.objectLink-eventLog,
.objectLink-regexp,
.objectLink-object,
.objectLink-Date {
    font-family: Lucida Grande, sans-serif;
    font-weight: bold;
    color: DarkGreen;
    white-space: pre-wrap;
}

.objectPropValue {
    font-weight: normal;
    font-style: italic;
    color: #555555;
}

.storageTitle {
    font-weight: normal;
}

.objectLink-regexp > .regexpSource {
    padding-right: 4px;
    font-weight: normal;
    font-family: monospace;
}

/*************************************************************************************************/

.objectLink-NamedNodeMap .nodeName,
.objectLink-NamedNodeMap .objectEqual,
.objectLink-NamedNodeMap .arrayLeftBracket,
.objectLink-NamedNodeMap .arrayRightBracket,
.objectLink-Attr .attrEqual,
.objectLink-Attr .attrTitle {
    color: rgb(0, 0, 136)
}

/*************************************************************************************************/

.selectorTag,
.selectorId,
.selectorClass {
    font-family: monospace;
    font-weight: normal;
}

.selectorTag {
    color: #0000FF;
}

.selectorId {
    color: DarkBlue;
}

.selectorClass {
    color: red;
}

.selectorHidden > .selectorTag {
    color: #5F82D9;
}

.selectorHidden > .selectorId {
    color: #888888;
}

.selectorHidden > .selectorClass {
    color: #D86060;
}

.selectorValue {
    font-family: Lucida Grande, sans-serif;
    font-style: italic;
    color: #555555;
}

/*************************************************************************************************/

.panelNode.searching .logRow:not(.logGroupLabel),
.panelNode.searching .logRow-group > .objectLink {
    display: none;
}

.panelNode.hideType-error .logRow-error,
.panelNode.hideType-error .logRow-errorMessage,
.panelNode.hideType-warning .logRow-warn,
.panelNode.hideType-warning .logRow-warningMessage,
.panelNode.hideType-info .logRow-info,
.panelNode.hideType-debug .logRow-debug,
.panelNode.hideType-profile .logRow-profile,
.panelNode.hideType-table .logRow-table,
.panelNode.hideType-group .logRow-group:not(.contentMatchesFilter),
.panelNode.hideType-command .logRow-command,
.panelNode.hideType-stackTrace .logRow-stackTrace,
.panelNode.hideType-log .logRow-log,
.panelNode.hideType-dir .logRow-dir,
.panelNode.hideType-assert .logRow-assert,
.panelNode.hideType-spy .logRow-spy {
    display: none;
}

.logRow.matched {
    display: table !important;
}

.logRow.matching {
    position: absolute;
    left: -1000px;
    top: -1000px;
    max-width: 0;
    max-height: 0;
    overflow: hidden;
}

/*************************************************************************************************/

.objectLeftBrace,
.objectRightBrace,
.objectEqual,
.objectComma,
.arrayLeftBracket,
.arrayRightBracket,
.arrayComma {
    font-family: monospace;
}

.objectLeftBrace,
.objectRightBrace,
.arrayLeftBracket,
.arrayRightBracket {
    cursor: pointer;
    font-weight: bold;
}

.objectLeftBrace,
.arrayLeftBracket {
    margin-right: 4px;
}

.objectRightBrace,
.arrayRightBracket {
    margin-left: 4px;
}

/*************************************************************************************************/
/* Cycle reference*/

.objectLink-Reference {
    font-family: monospace;
    font-weight: bold;
    color: rgb(102, 102, 255);
}

/*************************************************************************************************/
/* console.dir() */

.logRow-dir {
    padding: 0;
}

/* Overwrite the default y value defined in panel.css */
.logRow-dir .memberRow.hasChildren > .memberLabelCell > .memberLabel {
    background-position: 2px 2px;
}

/*************************************************************************************************/

.logRow-errorMessage .hasTwisty > .errorTitle,
.logRow-spy .spyHead .spyTitle,
.logGroup > .logRow {
    cursor: pointer;
    padding-left: 18px;
    background-repeat: no-repeat;
    background-position: 3px 3px;
}

.logRow-errorMessage .hasTwisty > .errorTitle {
    background-position: 2px 3px;
}

.logRow-errorMessage .hasTwisty > .errorTitle:hover,
.logRow-spy .spyHead .spyTitle:hover,
.logGroup > .logRow:hover {
    text-decoration: underline;
}

.logRow-errorMessage .errorTitle > .errorMessage {
    white-space: pre-wrap;
}

/*************************************************************************************************/

.logRow-log .objectBox-array.hasTwisty {
    padding-left: 18px;
}

.logRow-log .objectBox-array > .arrayProperties:not(:empty) {
    padding-left: 18px;
}

.objectBox-array > .objectTitle {
    font-weight: bold;
    color: DarkGreen;
}

/*************************************************************************************************/

.logRow-spy,
.logRow-spy .objectLink-sourceLink {
    background: #FFFFFF linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 18px, transparent 51px) repeat-x;
    padding-right: 4px;
    right: 0;
}

/* padding-right should be zero for .logRow-spy, so declare after the previous selector */
.logRow-spy {
    padding: 0px 0 1px 0;
}

.logRow-spy.opened {
    padding-bottom: 4px;
    border-bottom: none;
}

.logRow-spy .objectLink-sourceLink {
    top: 4px;
}

.spyTitle {
    color: #000000;
    font-weight: bold;
    -moz-box-sizing: padding-box;
    overflow: hidden;
    z-index: 100;
    padding-left: 18px;
}

.spyCol {
    padding: 0;
    white-space: nowrap;
}

.spyTitleCol:hover > .objectLink-sourceLink,
.spyTitleCol:hover > .spyTime,
.spyTitleCol:hover > .spyStatus,
.spyTitleCol:hover > .spyTitle {
    display: none;
}

.spyFullTitle {
    display: none;
    -moz-user-select: none;
    max-width: 100%;
    background-color: Transparent;
}

.spyTitleCol:hover > .spyFullTitle {
    display: block;
}

.spyStatus {
    padding-left: 10px;
    color: rgb(128, 128, 128);
}

.spyTime {
    margin-left:4px;
    margin-right:4px;
    color: rgb(128, 128, 128);
}

.spyIcon {
    display: inline-block;
    margin-right: 4px;
    margin-left: 4px;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background: transparent no-repeat 0 0;
}

.logRow-spy.loading .spyHead .spyRow .spyIcon {
    background-image: url(chrome://firebug/skin/loading.svg);
}

.logRow-spy.loaded:not(.error) .spyHead .spyRow .spyIcon {
    width: 0;
    margin: 0;
}

.logRow-spy.error .spyHead .spyRow .spyIcon {
    background-image: url(chrome://firebug/skin/error.svg);
    background-position: 2px 2px;
    background-size: 13px;
}

.logRow-spy .spyHead .netInfoBody {
    display: none;
}

.logRow-spy.opened .spyHead .netInfoBody {
    margin-top: 10px;
    display: block;
}

.logRow-spy.error .spyTitle,
.logRow-spy.error .spyStatus,
.logRow-spy.error .spyTime {
    color: red;
}

.logRow-spy.loading .spyResponseText {
    font-style: italic;
    color: #888888;
}

/*************************************************************************************************/

.caption {
    font-family: Lucida Grande, Tahoma, sans-serif;
    font-weight: bold;
    color:  #444444;
}

.warning {
    padding: 10px;
    font-family: Lucida Grande, Tahoma, sans-serif;
    font-weight: bold;
    color:  #888888;
}

/*************************************************************************************************/

/* The panel content is always visible within the command popup on other panels */
.commandPopup .panelNode-console {
    display: block;
}

/*************************************************************************************************/
/* console.timeStamp */

.logRow-timeStamp {
    color: Olive;
    font-family: Lucida Grande, Tahoma, sans-serif;
}

.logRow-timeStamp SPAN:last-child {
    font-style: italic;
    color: gray;
    padding-left: 5px;
}


/*************************************************************************************************/
/* include() command */

.tableCommandLineInclude td {
    height: 17px;
}
.tableCommandLineInclude .closeButton {
    display: none;
}

.tableCommandLineInclude tr:hover .closeButton {
    display: block;
}

.tableCommandLineInclude .url {
    float: left;
}

.tableCommandLineInclude .commands {
    float: right;
    height: 100%;
}

.tableCommandLineInclude .aliasName {
    font-family: monospace;
}

.tableCommandLineInclude td:last-child {
    width: 75%;
    padding-right: 0 !important;
}

/************************************************************************************************/
/* getEventListeners() command */

.logRow-eventListenersDetails .logGroup {
    background: none;
    background-color: rgb(244, 244, 244) !important;
}

.logRow-eventListenersDetails .logRow-table .logContent {
    padding: 0;
}

.logRow-eventListenersDetails .logRow {
    text-decoration: none !important;
}

.logRow-eventListenersDetails .eventListenersCaption:hover {
    text-decoration: underline;
}

/*************************************************************************************************/
/* Description Box */

.descriptionBox B {
    font-weight: bold;
}
