/* See license.txt for terms of usage */

.panelNode-css {
    overflow-x: hidden;
}

.cssSheet > .insertBefore {
    height: 1.5em;
}

.cssRule {
    position: relative;
    margin: 1em 0 0 6px;
    font-family: monospace;
    color: #000000;
}

.cssRule:first-child {
    margin-top: 6px;
}

.cssElementRuleContainer {
    position: relative;
}

.cssHead {
    padding-right: 150px;
}

.cssProp {
    /*padding-left: 2em;*/
    line-height: 1.4em;
}

.cssPropName {
    color: DarkGreen;
}

.cssPropValue {
    color: DarkBlue;
}

.cssOverridden {
    text-decoration: line-through;
}

.computedStylesGroup table {
  display: none;
} 

.computedStylesGroup.opened table {
  display: block;
} 

.cssInheritHeader, .cssComputedHeader {
  position: relative;
}

.cssComputedHeader {
  cursor: pointer;
}

.computedStylesGroup > .cssComputedHeader {
  margin: 0;
}

.computedStylesGroup.opened > .cssComputedHeader {
  margin: 0 0 4px;
}

.cssComputedHeader > .twisty {
  background-position: 4px 3px !important;
}

.cssInheritedRule {
}

.cssInheritLabel,
.cssComputedLabel {
    margin-right: 0.25em;
    font-weight: bold;
}

.cssComputedLabel {
    margin-left: 14px;
}

.cssRule .objectLink-sourceLink {
    top: 0;
}

.cssProp.editGroup:hover {
    background: transparent url(chrome://firebug/skin/disable.png) no-repeat 2px 1px;
}

.cssProp.editGroup span:first-child:hover {
    cursor: pointer;
}

.cssProp.disabledStyle {
    background: transparent url(chrome://firebug/skin/disableHover.png) no-repeat 2px 1px;
    opacity: 1;
    color: #CCCCCC;
}

.cssProp.disabledStyle > .cssPropName,
.cssProp.disabledStyle > .cssPropValue {
    color: inherit;
}

.cssPropValue.editing + .cssSemi,
.inlineExpander + .cssSemi {
    display: none;
}

.cssPropValue.editing {
    white-space: nowrap;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.stylePropName {
    font-weight: bold;
    padding: 0 4px 4px 4px;
    width: 50%;
}

.stylePropValue {
    width: 50%;
}

.useA11y .a11yCSSView .focusRow:focus {
    outline: none;
    background-color: transparent
 }
 
 .useA11y .a11yCSSView .focusRow:focus .cssSelector, 
 .useA11y .a11yCSSView .focusRow:focus .cssPropName, 
 .useA11y .a11yCSSView .focusRow:focus .cssPropValue,
 .useA11y .a11yCSSView .computedStyleRow:focus, 
 .useA11y .a11yCSSView .groupHeader:focus {
    outline: 2px solid #FF9933;
    outline-offset: -2px;
    background-color: #FFFFD6;
 }
 
 .useA11y .a11yCSSView .groupHeader:focus {
    outline-offset: -2px;
 }

.infoTipColorBox {
    background-image: -moz-repeating-linear-gradient(
        left top -45deg,
        #E6E6E6,
        #E6E6E6 5px,
        #FFFFFF 5px,
        #FFFFFF 10px
    );
}