/* See license.txt for terms of usage */

#inspector-button {
  list-style-image: url(chrome://firebug/skin/inspect.png);
}

#inspector-button[disabled="true"] {
  list-style-image: url(chrome://firebug/skin/inspectDisabled.png);
}

#fbInspectButton {
    margin-bottom: 1px;
    padding: 0px;
    opacity: 0.8;

    /* The default styling does not always keep button size contant or image
       position constant, e.g. when [checked="true"].  These numbers were
       chosen to keep them constant against the default winstripe styling. */
    padding-top: 4px;
    padding-bottom: 2px;
    -moz-padding-start: 4px;
    -moz-padding-end: 2px;
}

#fbInspectButton image {
    margin-right: 3px;
    margin-bottom: 1px;
}

#fbBreakOnNextButton {
    margin-bottom: 1px;
    opacity: 0.8;
    padding-right: 2px;
    padding-left: 2px;
        /* The default styling does not always keep button size contant or image
       position constant, e.g. when [checked="true"].  These numbers were
       chosen to keep them constant against the default winstripe styling. */
    padding-top: 4px;
    padding-bottom: 2px;
    -moz-padding-start: 4px;
    -moz-padding-end: 2px;
}

toolbar[iconsize="small"] #inspector-button > .toolbarbutton-icon {
    list-style-image: url(chrome://firebug/skin/inspectSmall.png);
    width: 16px;
    height: 16px;
}

#firebug-button {
  list-style-image: url(chrome://firebug/skin/firebug24.png);
}

toolbar[iconsize="small"] #firebug-button > .toolbarbutton-icon {
    list-style-image: url(chrome://firebug/skin/firebug16.png);
    width: 16px;
    height: 16px;
}

/********************************************************************************************/

#fbLocationSeparator,
#fbStatusSeparator {
    min-height: 11px;
}

#fbCommandArow {
    margin: 2px 0 2px 7px;
    font-family: Monaco, monospace;
    color: #0000FF;
}

#fbCommandLine {
    -moz-appearance: none;
    margin: 2px 0 0 0;
    padding: 0 4px;
    height: 0;
    border: none;
    font-family: Monaco, monospace;
    direction: ltr;
}

#fbLargeCommandLine {
    margin: 0;
    font-family: Monaco, monospace;
    direction: ltr;
}

#fbCommandLine > .textbox-input-box > .textbox-textarea {
    overflow: hidden;
}

/********************************************************************************************/

#fbStatusBar {
    cursor: pointer;
}

#fbStatusIcon {
    list-style-image: url(chrome://firebug/skin/firebug-gray-16.png);
}
#fbStatusIcon[script="on"] {
    list-style-image: url(chrome://firebug/skin/firebug16.png);
}
#fbStatusIcon[net="on"] {
    list-style-image: url(chrome://firebug/skin/firebug16.png);
}
#fbStatusIcon[console="on"] {
    list-style-image: url(chrome://firebug/skin/firebug16.png);
}

#fbStatusIcon[suspended="suspended"] {
    list-style-image: url(chrome://firebug/skin/firebug-gray-16.png);
}


#fbStatusText {
    cursor: pointer;
    color: red;
    font-weight: bold;
}

#fbStatusBar[errors] #fbStatusIcon {
    list-style-image: url(chrome://firebug/skin/errorIcon-sm.png);
}

/********************************************************************************************/

#fbToolbar {
    padding-left: 4px;
}

#fbToolbarInner {
    overflow: hidden;
}

#fbSearchBox {
    margin-left: 0;
    margin-right: 6px;
}


.fbsearch-textbox {
    -moz-appearance: none;
    margin: 0 0px 1px 2px;
    border: 1px solid;
    -moz-border-radius: 5px;  /* Matched to the a11y outline impl */
    -moz-border-top-colors: #96969D;
    -moz-border-right-colors: #96969D;
    -moz-border-bottom-colors: #96969D;
    -moz-border-left-colors: #96969D;
    padding: 2px 0 2px 3px;
    background: -moz-field;
    font: icon;
    font-size: 11px;
    direction: ltr;
}

.fbsearch-textbox > .autocomplete-textbox-container > .autocomplete-icon {
    list-style-image: url(chrome://firebug/skin/search.png);
}

#fbSearchOptionsPanel {

}

.fbsearch-options-label {

}

.fbsearch-options-buttons {

}

textbox[type="fbSearchBox"] > panel {
    -moz-border-radius: 1px;    /* This prevents the drop shadow from appearing See nsLayoutUtils::GetFrameTransparency*/
}

.fbSearchBox-attention textbox {
    color: red;
    font-weight: bold;
}

#fbCommandBox {
    border-top: 1px solid #CCCCCC;
    background-color: #FFFFFF;
}
/********************************************************************************************/

.toolbar-image-button {
    -moz-appearance: none;
    margin: 0 2px;
    border: none;
    padding: 0 !important;
    background: transparent !important;
}

.toolbar-image-button > .toolbarbutton-icon {
    padding: 0 !important;
}

.toolbar-image-button > .toolbarbutton-text {
    display: none;
}

.fbURLMenuItem { /* let file names be as long as need be */
    max-width: none;
}
/************************************************************************************************/

#fbDebuggerButtons {
    margin-right: 2px;
}

#fbContinueButton,
#fbBreakOnNextButton,
#fbStepOverButton,
#fbStepIntoButton,
#fbStepOutButton {
    -moz-image-region: rect(auto,auto,auto,auto) !important;
}

#fbContinueButton {
    list-style-image: url(chrome://firebug/skin/continue.png);
    padding-right: 2px;
}

#fbContinueButton:hover:active {
    list-style-image: url(chrome://firebug/skin/continueActive.png);
}

#fbContinueButton[disabled="true"] {
    list-style-image: url(chrome://firebug/skin/continueDisabled.png);
    padding-right: 2px;
}

#fbStepOverButton {
    list-style-image: url(chrome://firebug/skin/stepOver.png);
    padding-right: 2px;
}

#fbStepOverButton:hover:active {
    list-style-image: url(chrome://firebug/skin/stepOverActive.png);
    padding-right: 2px;
}

#fbStepOverButton[disabled="true"] {
    list-style-image: url(chrome://firebug/skin/stepOverDisabled.png) !important;
    padding-right: 2px;
}

#fbStepIntoButton {
    list-style-image: url(chrome://firebug/skin/stepInto.png);
    padding-right: 2px;
}

#fbStepIntoButton:hover:active {
    list-style-image: url(chrome://firebug/skin/stepIntoActive.png);
    padding-right: 2px;
}

#fbStepIntoButton[disabled="true"] {
    list-style-image: url(chrome://firebug/skin/stepIntoDisabled.png) !important;
    padding-right: 2px;
}

#fbStepOutButton {
    list-style-image: url(chrome://firebug/skin/stepOut.png);
    padding-right: 2px;
}

#fbStepOutButton:hover:active {
    list-style-image: url(chrome://firebug/skin/stepOutActive.png);
    padding-right: 2px;
}

#fbStepOutButton[disabled="true"] {
    list-style-image: url(chrome://firebug/skin/stepOutDisabled.png) !important;
}

#fbBreakOnErrors {
    list-style-image: url(chrome://firebug/skin/breakErrors.png);
}

#fbBreakOnErrors[checked="true"] {
    list-style-image: url(chrome://firebug/skin/breakErrorsOn.png);
}

/********************************************************************************/

#fbBreakOnNextButton[breakable="disabled"] {
    list-style-image: url(chrome://firebug/skin/breakNextDisabled.png) !important;
}

#fbBreakOnNextButton[breakable="true"] {
    list-style-image: url(chrome://firebug/skin/breakNext.png);
    padding-right: 2px;
}
#fbBreakOnNextButton:hover:active[breakable="true"] {
    list-style-image: url(chrome://firebug/skin/breakNextActive.png);
    padding-right: 2px;
}
#fbBreakOnNextButton:hover:active[breakable="false"] {
    list-style-image: url(chrome://firebug/skin/breakNextActive.png);
    padding-right: 2px;
}
#fbBreakOnNextButton[breakable="false"] {
    list-style-image: url(chrome://firebug/skin/breakNextArmed.png);
    padding-right: 2px;
}

/************************************************************************************************/


