/* See license.txt for terms of usage */

/*************************************************************************************************/
/* overrides to revert personas. see http://code.google.com/p/fbug/issues/detail?id=2704 */

#fbContentBox:-moz-lwtheme {
  background-color: -moz-dialog;
  color: -moz-dialogtext;
}

#fbContentBox:-moz-lwtheme toolbox {
  -moz-appearance: toolbox;
}

#fbContentBox:-moz-lwtheme toolbar {
  -moz-appearance: toolbar;
}

/* end overrides */

/*************************************************************************************************/
/* Firebug Menu & Firefox context menu */

#menu_firebug, #appmenu_firebug {
    list-style-image: url(chrome://firebug/skin/firebug16.png);
}

#menu_firebugInspect {
    list-style-image: url(chrome://firebug/skin/Templarian_inspector.png);
    -moz-image-region: rect(0, 16px, 16px, 0);
}

#menu_firebugInspect:hover,
#menu_firebugInspect:active {
    -moz-image-region: rect(16px, 16px, 32px, 0);
}
/*************************************************************************************************/

#fbInspectButton {
    margin-bottom: 1px;
    padding: 0px;
    opacity: 0.8;

    /* The default styling does not always keep button size content or image
       position constant, e.g. when [checked="true"].  These numbers were
       chosen to keep them constant against the default winstripe styling. */
    padding-top: 4px;
    padding-bottom: 2px;
    -moz-padding-start: 4px;
    -moz-padding-end: 2px;
}

#fbBreakOnNextButton {
    margin-bottom: 1px;
    opacity: 0.8;
    padding-right: 2px;
    padding-left: 2px;
        /* The default styling does not always keep button size contant or image
       position constant, e.g. when [checked="true"].  These numbers were
       chosen to keep them constant against the default winstripe styling. */
    padding-top: 4px;
    padding-bottom: 2px;
    -moz-padding-start: 4px;
    -moz-padding-end: 2px;
}

/*************************************************************************************************/
/* Customizable Dialog Toolbar Buttons */

/* Inspector button */
#inspector-button {
  list-style-image: url(chrome://firebug/skin/inspect.png);
}

toolbar[iconsize="small"] #inspector-button > .toolbarbutton-icon {
    list-style-image: url(chrome://firebug/skin/inspect.png);
    width: 16px;
    height: 16px;
}

/* Firebug Start Button */
#firebug-button {
    list-style-image: url(chrome://firebug/skin/firebug24.png);
}

#firebug-button[script="on"],
#firebug-button[net="on"],
#firebug-button[console="on"] {
    list-style-image: url(chrome://firebug/skin/firebug24.png);
}

#firebug-button[suspended="suspended"] {
    list-style-image: url(chrome://firebug/skin/firebug-gray-24.png);
}

toolbar[iconsize="small"] #firebug-button[script="on"] > .toolbarbutton-icon,
toolbar[iconsize="small"] #firebug-button[net="on"] > .toolbarbutton-icon,
toolbar[iconsize="small"] #firebug-button[console="on"] > .toolbarbutton-icon {
    list-style-image: url(chrome://firebug/skin/firebug16.png);
}

toolbar[iconsize="small"] #firebug-button[suspended="suspended"] > .toolbarbutton-icon {
    list-style-image: url(chrome://firebug/skin/firebug-gray-16.png);
}

toolbar[iconsize="small"] #firebug-button > .toolbarbutton-icon {
    list-style-image: url(chrome://firebug/skin/firebug16.png);
    width: 16px;
    height: 16px;
}

/* In Firefox 4, the button has a special badge that shows number of errors. Also, the icon
   size is always 16x16px and so, if the button is appended into bookmarks or addon-bar the
   height is not affected. This is OK since the plan for Firefox 4 is to use 16x16 sizes
   only anyway, see: https://bugzilla.mozilla.org/show_bug.cgi?id=616472 */
#firebug-button[firefox="4"] {
    -moz-binding: url("chrome://firebug/content/start-button/startButton.xml#start-button");
}

#firebug-button[script="on"][firefox="4"],
#firebug-button[net="on"][firefox="4"],
#firebug-button[console="on"][firefox="4"] {
    list-style-image: url(chrome://firebug/skin/firebug16.png);
}

#firebug-button[firefox="4"] {
    list-style-image: url(chrome://firebug/skin/firebug16.png);
}

#firebug-button[suspended="suspended"][firefox="4"] {
    list-style-image: url(chrome://firebug/skin/firebug-gray-16.png);
}

/* Error badge (displays an error counter). The badge is only visible if error count
   should be displayed */
#firebug-button .badge {
    display: none;
}

#firebug-button[showErrors="true"] .badge {
    display: block;
    -moz-box-sizing: border-box;
    margin: 0;
}

#firebug-button .badge > .label {
    -moz-box-sizing: border-box;
    visibility: hidden;
    font-size: 10px;
    padding: 0 3px;
    line-height: 13px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 0 1px #EEF1F7;
    color: #900;
    border-radius: 3px;
    background-color: rgba(255, 0, 0, 0.9);
    box-shadow: inset 0px 0px 1px white;
    background-image: -moz-linear-gradient(
        center bottom,
        #DBE1EB 0%,
        #DEE4EB 80%,
        #E7EBF3 81%
    );
    border-width: 1px;
    border-style: solid;
    border-color: #B3BBC4 #9DA4AD #868D96 #9DA4AD;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.3) inset,
                0 1px 0 rgba(180, 189, 202, 0.7),
                0 0 3px rgba(153, 0, 0, 0.9);
}

#firebug-button[showErrors="true"]:not([errorCount="0"]) .badge .label {
    visibility: visible;
}

/* Slightly different positions of the badge for individual toolbars */
#nav-bar #firebug-button .badge {
    margin: 3px -10px 0 -8px;
}

#addon-bar #firebug-button .badge {
    margin-top: 1px;
}

#TabsToolbar #firebug-button .badge {
    margin-top: 4px;
}

#toolbar-menubar #firebug-button .badge {
    margin-top: 4px;
}

#firebug-button .fb-toolbarbutton {
    padding: 0;
}

/*************************************************************************************************/
/* Firebug Status Icon */

#fbStatusBar {
    min-width: 26px;
    cursor: pointer;
}

#fbStatusText {
    cursor: pointer;
    color: red;
    font-weight: bold;
}

#fbStatusBar[showErrors] #fbStatusIcon {
    list-style-image: url(chrome://firebug/skin/errorIcon.png);
}

#fbStatusIcon {
    list-style-image: url(chrome://firebug/skin/firebug-gray-16.png);
}

#fbStatusIcon[script="on"],
#fbStatusIcon[net="on"],
#fbStatusIcon[console="on"] {
    list-style-image: url(chrome://firebug/skin/firebug16.png);
}

#fbStatusIcon[suspended="suspended"] {
    list-style-image: url(chrome://firebug/skin/firebug-gray-16.png);
}

/*************************************************************************************************/
/* Command Line */

#fbCommandArrow {
    margin: 2px 0 2px 7px;
    font-family: monospace;
    color: #0000FF;
}

.fbCommandLine {
    -moz-appearance: none;
    margin: 4px 0 0 0;
    padding: 0 4px;
    border: none;
    font-family: monospace;
    font-size: 12px;
    direction: ltr;
    width: 100%;
    background: none repeat scroll 0% 0% transparent;
    position: relative;
    z-index: 3;
}

#fbLargeCommandLine {
    margin: 0;
    font-family: monospace;
    direction: ltr;
}

#fbCommandLine > .textbox-input-box > .textbox-textarea {
    overflow: hidden;
}

.fbCommandHtmlBox {
    position: relative;
    margin-right: 7px;
}

.fbCommandHtmlBox .background {
    position: relative;
    background: none repeat scroll 0% 0% transparent;
}

#fbCommandLineCompletion {
    position: absolute;
    z-index: 1;
    color: silver;
}

.fbCommandHtmlBox .offScreen {
    position: absolute;
    top: -900px;
    left: -9000px;
    max-width: 3000px;
    overflow: hidden;
    width: auto;
}

#misspell {
    display: none !important;
}

/*************************************************************************************************/
/* Toolbar */

#fbToolbar {
    padding-left: 4px;
}

#fbToolbarInner {
    overflow: hidden;
}

/*************************************************************************************************/
/* Search Box */

#fbSearchBox {
    margin-left: 0;
    margin-right: 6px;
}

.fbsearch-textbox[status="notfound"] {
    background-color: #FF6666 !important;
    color: #FFFFFF;
}

#fbSearchBox,
.fbsearch-textbox  {
    width: 100% !important;
}

#fbSearchBox {
    display: block;
}

.fbsearch-textbox {
    -moz-appearance: none;
    margin: 0 0px 1px 2px;
    border: 1px solid;
    -moz-border-radius: 5px;  /* Matched to the a11y outline impl */
    -moz-border-top-colors: #96969D;
    -moz-border-right-colors: #96969D;
    -moz-border-bottom-colors: #96969D;
    -moz-border-left-colors: #96969D;
    padding: 2px 0 2px 21px;
    background: -moz-field url(chrome://firebug/skin/search.png) no-repeat 4px 1px;
    font: message-box;
    font-size: 11px;
    direction: ltr;
}

#fbSearchOptionsPanel {

}

.fbsearch-options-label {

}

.fbsearch-options-buttons {

}

textbox[type="fbSearchBox"] > panel {
    /* This prevents the drop shadow from appearing See nsLayoutUtils::GetFrameTransparency*/
    -moz-border-radius: 1px;
}

.fbSearchBox-attention textbox {
    color: red;
    font-weight: bold;
}

#fbCommandBox {
    border-top: 1px solid #CCCCCC;
    background-color: -moz-field;
    color: -moz-fieldtext;
}

/*************************************************************************************************/

.toolbar-image-button {
}

.toolbar-image-button > .toolbarbutton-icon {
}

.toolbar-image-button > .toolbarbutton-text {
}

.fbURLMenuItem { /* let file names be as long as need be */
    max-width: none;
}

/************************************************************************************************/
/* Firebug toolbar buttons */

#fbInspectButton {
    list-style-image: url("chrome://firebug/skin/Templarian_inspector.png");
    -moz-image-region: rect(0, 16px, 16px, 0);
}

#fbInspectButton:hover,
#fbInspectButton:active {
    -moz-image-region: rect(16px, 16px, 32px, 0);
}

#fbBreakOnNextButtonOld {
    list-style-image: url("chrome://firebug/skin/breakNextDisabled.png");
}

/*************************************************************************************************/
/* Debugger buttons */

#fbDebuggerButtons {
    margin-right: 2px;
}

#fbDebuggerButtons toolbarbutton {
    -moz-image-region: rect(0, 16px, 16px, 0);
}

#fbDebuggerButtons toolbarbutton:hover,
#fbDebuggerButtons toolbarbutton:active {
    -moz-image-region: rect(16px, 16px, 32px, 0);
}

#fbDebuggerButtons toolbarbutton[disabled="true"] {
    -moz-image-region: rect(32px, 16px, 48px, 0);
}

#fbRerunButton {
    list-style-image: url(chrome://firebug/skin/rerun.png);
}

#fbContinueButton {
    list-style-image: url(chrome://firebug/skin/continue.png);
}

#fbStepOverButton {
    list-style-image: url(chrome://firebug/skin/stepOver.png);
}

#fbStepIntoButton {
    list-style-image: url(chrome://firebug/skin/stepInto.png);
}

#fbStepOutButton {
    list-style-image: url(chrome://firebug/skin/stepOut.png);
}

/*************************************************************************************************/
/* Script history buttons */

#fbNavigateBackButton,
#fbNavigateForwardButton,
.navigationHistoryMenuItemForward,
.navigationHistoryMenuItemBack,
menupopup[chromedir="rtl"] > .navigationHistoryMenuItemForward,
menupopup[chromedir="rtl"] > .navigationHistoryMenuItemBack {
    -moz-image-region: rect(0, 16px, 16px, 0);
}

#fbNavigateBackButton:hover,
#fbNavigateBackButton:active,
#fbNavigateForwardButton:hover,
#fbNavigateForwardButton:active,
.navigationHistoryMenuItemBack:hover,
.navigationHistoryMenuItemBack:active,
.navigationHistoryMenuItemForward:hover,
.navigationHistoryMenuItemForward:active,
menupopup[chromedir="rtl"] > .navigationHistoryMenuItemForward:hover,
menupopup[chromedir="rtl"] > .navigationHistoryMenuItemForward:active,
menupopup[chromedir="rtl"] > .navigationHistoryMenuItemBack:hover,
menupopup[chromedir="rtl"] > .navigationHistoryMenuItemBack:active {
    -moz-image-region: rect(16px, 16px, 32px, 0);
}

#fbNavigateBackButton[disabled="true"],
#fbNavigateForwardButton[disabled="true"] {
    -moz-image-region: rect(32px, 16px, 48px, 0);
}

#fbNavigateBackButton,
.navigationHistoryMenuItemBack,
menupopup[chromedir="rtl"] > .navigationHistoryMenuItemForward {
      list-style-image: url(chrome://firebug/skin/nav-back.png);
}

#fbNavigateForwardButton,
.navigationHistoryMenuItemForward,
menupopup[chromedir="rtl"] > .navigationHistoryMenuItemBack {
      list-style-image: url(chrome://firebug/skin/nav-forward.png);
}

.navigationHistoryMenuItemCurrent {
    font-weight: bold;
}

/*************************************************************************************************/

#fbCommandPopupButton {
    list-style-image: url(chrome://firebug/skin/commandLine.png);
}

#fbCommandPopupButton[disabled="true"] {
    list-style-image: url(chrome://firebug/skin/commandLineDisabled.png);
}

/*************************************************************************************************/

#fbBreakOnErrors {
    list-style-image: url(chrome://firebug/skin/breakErrors.png);
}

#fbBreakOnErrors[checked="true"] {
    list-style-image: url(chrome://firebug/skin/breakErrorsOn.png);
}

/*************************************************************************************************/

/* default is disabled */
.fbBreakOnImage {
    visibility: hidden;
}

/* images */
#fbBreakOnNextButton #fbBreakOnImage {
    list-style-image: url("chrome://firebug/skin/breakNext.png");
}

#fbBreakOnNextButton #fbBreakOnImageDisabled {
    list-style-image: url("chrome://firebug/skin/breakNextDisabled.png");
}

#fbBreakOnNextButton #fbBreakOnImageActive {
    list-style-image: url("chrome://firebug/skin/breakNextActive.png");
}

#fbBreakOnNextButton #fbBreakOnImageArmed {
    list-style-image: url("chrome://firebug/skin/breakNextArmed.png");
}

/* disabled */
#fbBreakOnNextButton[breakable="disabled"] #fbBreakOnImageDisabled {
    visibility: visible;
}

/* enabled */
#fbBreakOnNextButton[breakable="true"] #fbBreakOnImage {
    visibility: visible;
    padding-right: 2px;
}

#fbBreakOnNextButton[breakable="true"] #fbBreakOnImageDisabled {
    visibility: hidden;
    padding-right: 2px;
}

/* enabled and active */
#fbBreakOnNextButton:hover:active[breakable="true"] #fbBreakOnImageActive {
    visibility: visible;
    padding-right: 2px;
}

#fbBreakOnNextButton:hover:active[breakable="true"] #fbBreakOnImageDisabled {
    visibility: hidden;
    padding-right: 2px;
}

/* enabled, active, armed */
#fbBreakOnNextButton:hover:active[breakable="false"] #fbBreakOnImageActive {
    visibility: visible;
    padding-right: 2px;
}

#fbBreakOnNextButton:hover:active[breakable="false"] #fbBreakOnImageDisabled {
    visibility: hidden;
    padding-right: 2px;
}

/* enabled, armed */
#fbBreakOnNextButton[breakable="false"] #fbBreakOnImageArmed {
    visibility: visible;
    padding-right: 2px;
}

#fbBreakOnNextButton[breakable="false"] #fbBreakOnImageDisabled {
    visibility: hidden;
    padding-right: 2px;
}

/* panel badges */
#fbBreakOnNextButton[panelName="script"] #fbBreakOnImageNext {
    visibility: visible;
    padding-right: 2px;
    list-style-image: url("chrome://firebug/skin/breakOn/breakOnNextSingle.png");
}

#fbBreakOnNextButton[panelName="net"] #fbBreakOnImageXHR {
    visibility: visible;
    padding-right: 2px;
    list-style-image: url("chrome://firebug/skin/breakOn/breakOnXHRSingle.png");
}

#fbBreakOnNextButton[panelName="console"] #fbBreakOnImageError {
    visibility: visible;
    padding-right: 2px;
    list-style-image: url("chrome://firebug/skin/breakOn/breakOnErrorSingle.png");
}

#fbBreakOnNextButton[panelName="html"] #fbBreakOnImageMutate {
    visibility: visible;
    padding-right: 2px;
    list-style-image: url("chrome://firebug/skin/breakOn/breakOnMutateSingle.png");
}

#fbBreakOnNextButtonOld {
    visibility: visible;
    padding-right: 2px;
}

#fbMigrator {
    border: 2px solid  #FF9933;
    -moz-border-top-colors: #FF9933;
    -moz-border-bottom-colors: #FF9933;
    -moz-border-left-colors: #FF9933;
    -moz-border-right-colors: #FF9933;
    background-color: transparent;
    opacity: 1.0;
    padding-bottom: 5px;
}

#fbMigrationOk {
    font-family: monospace;
    font-size: 14px;
    color: #FF9933;
    font-weight: bold;
}

/*************************************************************************************************/
/* Scrollable TabBar + TabList */

/* Collision with CuteButtons - Crystal SVG 0.2.5, see 3374 */
#fbNetPersist {
    -moz-image-region: rect(0, 1px, 1px, 0);
}
