/* See license.txt for terms of usage */

.panelNode-net {
    overflow-x: hidden;
}

.netTable {
    width: 100%;
}

/************************************************************************************************/

.hideCategory-undefined .category-undefined,
.hideCategory-html .category-html,
.hideCategory-css .category-css,
.hideCategory-js .category-js,
.hideCategory-image .category-image,
.hideCategory-xhr .category-xhr,
.hideCategory-flash .category-flash,
.hideCategory-txt .category-txt,
.hideCategory-bin .category-bin {
    display: none;
}

/************************************************************************************************/

.netHeadRow {
    background: url(chrome://firebug/skin/group.gif) repeat-x #FFFFFF;
}

.netHeadCol {
    border-bottom: 1px solid #CCCCCC;
    padding: 2px 4px 2px 18px;
    font-weight: bold;
}

.netHeadLabel {
    white-space: nowrap;
    overflow: hidden;    
}

/************************************************************************************************/

.netRow {
    background: LightYellow;
}

.netRow.loaded {
    background: #FFFFFF;
}

.netRow:hover {
    background: LightYellow;
}

.netRow.loaded:hover {
    background: #EFEFEF;
}

.netCol {
    padding: 0;
    vertical-align: top;
    border-bottom: 1px solid #EFEFEF;  
    white-space: nowrap;
}

.netStatusCol {
    padding-left: 10px;
    color: rgb(128, 128, 128);
}

.responseError > .netStatusCol {
    color: red;
}

.netDomainCol {
    padding-left: 5px;
}

.netSizeCol {
    text-align: right;
    padding-right: 10px;
}

.netHrefLabel {
    -moz-box-sizing: padding-box;
    overflow: hidden;
    z-index: 100;
    position: absolute;
    padding-left: 18px;
    padding-top: 1px;
    max-width: 15%;
    font-weight: bold;
}

.netFullHrefLabel {
    display: none;
    -moz-user-select: none;
    padding-right: 10px;
    padding-bottom: 4px;
    max-width: 100%;
    background: #FFFFFF;
}

.netRow:hover > .netCol > .netStatusLabel,
.netRow:hover > .netCol > .netDomainLabel,
.netRow:hover > .netCol > .netHrefLabel {
    display: none;
}

.netRow:hover > .netCol > .netFullHrefLabel {
    display: block;
}

.netRow.loaded:hover > .netCol > .netFullHrefLabel {
    background-color: #EFEFEF;
}

.netSizeLabel {
    padding-left: 6px;
}

.netStatusLabel,
.netDomainLabel,
.netSizeLabel,
.netBar {
    padding: 1px 0 2px 0 !important;
}

.responseError {
    color: red;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.hasHeaders .netHrefLabel:hover {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

/************************************************************************************************/

.netBar {
    position: relative;
    border-right: 50px solid Cyan;
}

.netTotalBar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: Cyan;
}

.netTimeBar {    
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    min-width: 3px;
    background: #38D63B url(chrome://firebug/skin/netBarLoading.gif) repeat-x;
    border-right: 1px solid #38D63B;
}

.netTimeLabel {
    -moz-box-sizing: padding-box;
    position: absolute;
    top: 1px;
    left: 100%;
    padding-left: 6px;
    color: #444444;
    min-width: 16px;
    background: url(chrome://firebug/skin/loading_16.gif) no-repeat 4px -1px;
}

.netSummaryRow .netTimeLabel,
.loaded .netTimeLabel {
    background: transparent;
}

.loaded .netTimeBar {
    background: #B6B6B6 url(chrome://firebug/skin/netBarLoaded.gif) repeat-x;
    border-color: #B6B6B6;
}

.fromCache .netTimeBar {
    background: #D6D6D6 url(chrome://firebug/skin/netBarCached.gif) repeat-x;
    border-color: #D6D6D6;
}

.netSummaryRow .netTimeBar {
    background: #BBBBBB;
    border: none;
}

/************************************************************************************************/

.netSummaryLabel {
    color: #222222;
}

.netSummaryRow {
    background: #BBBBBB !important;
    font-weight: bold;
}

.netSummaryRow .netBar {
    border-right-color: #BBBBBB;
}

.netSummaryRow > .netCol {
    border-top: 1px solid #999999;
    border-bottom: 2px solid;
    -moz-border-bottom-colors: #EFEFEF #999999;
    padding-top: 1px;
    padding-bottom: 2px;
}

.netCountLabel {
    padding-left: 18px;
}

.netTotalSizeCol {
    text-align: right;
    padding-right: 10px;
}

.netTotalTimeCol {
    text-align: right;
}

.netCacheSizeLabel {
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
}

/************************************************************************************************/

.netLimitRow {
    background: rgb(255, 255, 225) !important;
    font-weight:normal;
    color: black;
    font-weight:normal;
}

.netLimitLabel {
    padding-left: 18px;
}

.netLimitRow > .netCol {
    border-bottom: 2px solid;
    -moz-border-bottom-colors: #EFEFEF #999999;
    vertical-align: middle !important;
    padding-top: 2px;
    padding-bottom: 2px;
}

.netLimitButton {
    font-size: 11px;
    padding-top: 1px;
    padding-bottom: 1px;
}

/************************************************************************************************/

.netInfoCol {
    border-top: 1px solid #EEEEEE;
    background: url(chrome://firebug/skin/group.gif) repeat-x #FFFFFF;
}

.netInfoBody {
    margin: 10px 0 4px 10px;
}

.netInfoTabs {
    position: relative;
    padding-left: 14px;
}

.netInfoTab {
    position: relative;
    top: -3px;
    margin-top: 10px;
    padding: 4px 6px;
    border: 1px solid transparent;
    border-bottom: none;
    font-weight: bold;
    color: #565656;
}

.netInfoTab:hover {
    cursor: pointer;
}

.netInfoTab[selected="true"] {
    cursor: default !important;
    border-color: #D7D7D7;
    -moz-border-radius: 4px 4px 0 0;
    background-color: #FFFFFF;
}

.logRow-netInfo.error .netInfoTitle {
    color: red;
}

.logRow-netInfo.loading .netInfoResponseText {
    font-style: italic;
    color: #888888;
}

.loading .netInfoResponseHeadersTitle {
    display: none;
}

.netInfoText {
    display: none;
    margin: 0;
    border: 1px solid #D7D7D7;
    border-right: none;
    padding: 8px;
    background-color: #FFFFFF;
    font-family: Monaco, monospace;
    overflow-x: auto;
}

.netInfoText[selected="true"] {
    display: block;
}

.netInfoParamName {
    padding: 0 10px 0 0;
    font-family: Lucida Grande, Tahoma, sans-serif;
    font-weight: bold;
    vertical-align: top;
}

.netInfoParamName {
    font-family: Lucida Grande, Tahoma, sans-serif;
    text-align: right;
}

.netInfoHeadersText {
    padding-top: 0;
}

.netInfoHeadersGroup {
    margin-bottom: 4px;
    border-bottom: 1px solid #D7D7D7;
    padding-top: 8px;
    padding-bottom: 2px;
    font-family: Lucida Grande, Tahoma, sans-serif;
    font-weight: bold;
    color: #565656;
}
