/* See license.txt for terms of usage */

/************************************************************************************************/
/* Custom Styles for Command Editor (Orion) */

.view {
  background: white;
}

.token_string {
  color: red;
  font-style: normal;
}

.token_keyword {
  color: blue;
}

/************************************************************************************************/
