/* See license.txt for terms of usage */

/*************************************************************************************************/
/* The Default Mozilla Orion Theme */

/* From some reason, importing the default theme this way causes issue 5488 */
@import "chrome://browser/skin/devtools/orion.css";

/*************************************************************************************************/
/* Custom Styles for Command Editor (Orion) */

.viewContainer {
    font-size: 11px; /* testing */
    /*font-size: 11px; see issue 5488*/
    background-color: rgb(238, 238, 238) !important;
}

.view {
    background: white !important;
    padding-left: 10px !important;
}

.token_string {
    color: red;
    font-style: normal;
}

.token_keyword {
    color: blue;
}

.ruler {
    background-color: rgb(238, 238, 238) !important;
}

.ruler.lines {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

/*************************************************************************************************/
/* Breakpoints */

.annotation.breakpoint > DIV {
    background-image: url(chrome://firebug/skin/breakpoint.png);
    background-position: top !important;
}

.annotation.debugLocation > DIV {
    background-image: url(chrome://firebug/skin/exe.png);
    color: #000000;
}

.sourceRow[breakpoint="true"][condition="true"] > .sourceLine {
    background-image: url(chrome://firebug/skin/breakpointCondition.png);
}

.sourceRow[breakpoint="true"][disabledBreakpoint="true"] > .sourceLine {
    background-image: url(chrome://firebug/skin/breakpointDisabled.png);
}

.annotation.breakpoint.debugLocation > DIV {
    background-image: url(chrome://firebug/skin/breakpointExe.png);
}

.sourceRow[breakpoint="true"][exe_line="true"][disabledBreakpoint="true"] > .sourceLine {
    background-image: url(chrome://firebug/skin/breakpointDisabledExe.png);
}

/* The current debug location */
.annotationLine.debugLocation {
    outline: 1px solid #D9D9B6;
    margin-left: -10px;
    padding-left: 10px;
    background-color: lightgoldenrodyellow;
}
