/* See license.txt for terms of usage */

html {
    background-color: -moz-dialog;
}

body {
    margin: 0;
    overflow: hidden;
    /* Aspect    0.547          0.547   0.547 */
    font-family: Lucida Grande, Tahoma, sans-serif;
    font-size: 11px;
    /* Required, otherwise the extension "Webpage Snapshot - Snapilicious" (version 3.15)
       breaks the panel display */
    position: static;
    -moz-control-character-visibility: visible;
}

h1 {
    font-size: 17px;
    border-bottom: 1px solid #CCCCCC;
}

a {
    color: #0000ff;
    cursor: pointer;
}

pre {
    margin: 0;
    font: inherit;
}

code {
    display:block;
    white-space:pre;
}

/************************************************************************************************/

.jumpHighlight {
    background-color: #C4F4FF !important;
}

/************************************************************************************************/

.collapsed,
[collapsed="true"] {
    display: none;
}

.obscured {
    left: -999999px !important;
}

.measureBox {
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
    white-space: nowrap;
}

/************************************************************************************************/

.panelNode {
    display: none;
    overflow: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #FFFFFF;
    color: #000000;
}

.panelNode[active="true"] {
    display: block;
}

.pluginBrowser {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    border: none;
}

/************************************************************************************************/

.dialogBox {
    position: relative;
    margin: 4em auto;
    border: 1px solid threedshadow;
    border-radius: 10px;
    padding: 20px 30px 30px 90px;
    background: #ffffff url(chrome://firebug/skin/firebugBig.png) no-repeat 30px 30px/32px;
    color: #000000;
    font: message-box;
    min-width: 13em;
    max-width: 48em;
}

.dialogCaption {
    font-size: 130%;
}

.dialogRow {
    margin: 8px 0;
    font-size: 13px;
}

.dialogLink:hover {
    text-decoration: underline;
}

.disabledCaption {
    display: none;
}

.cantDisplayPage > .dialogCaption {
    display: block;
}

.cantDisplayPage > .dialogRow {
    display: none;
}

/************************************************************************************************/

#trialBox {
    z-index: 2147483647;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: -moz-dialog;
}

/************************************************************************************************/
.inlineEditor {
    pointer-events: none;
}

.textEditorInner {
    pointer-events: auto;
}

.inlineEditor,
.fixedWidthEditor {
    z-index: 2147483647;
    position: absolute;
}

.inlineEditor {
    margin-left: -3px;
    margin-top: -2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

.textEditorInner,
.fixedWidthEditor {
    margin: 0 !important;
    font: inherit;
    text-decoration: inherit;
    background-color: window;
    border: 1px solid #a0a0a0 !important;
}

.inlineEditor[saveSuccess='true'],
.fixedWidthEditor[saveSuccess='true'] {
    box-shadow: 0 2px 6px rgba(0, 250, 0, 0.5);
}

.inlineEditor[saveSuccess='false'],
.fixedWidthEditor[saveSuccess='false'] {
    box-shadow: 0 2px 6px rgba(250, 0, 0, 0.5);
}

.inlineEditor[saveSuccess='almost'],
.fixedWidthEditor[saveSuccess='almost'] {
    box-shadow: 0 2px 6px rgba(250, 250, 0, 0.8);
}

.fixedWidthEditor {
    border-left: none !important;
    border-right: none !important;
    text-indent: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

.textEditorInner {
    position: relative;
    padding: 1px;
}

.completionBox {
    position: absolute;
    color: #A0A0A0;
}

.completionInput {
    background-color: transparent;
}

.fixedWidthEditor.completionBox {
    box-shadow: none;
}

/************************************************************************************************/

.infoTip {
    z-index: 2147483647;
    position: fixed;
    padding: 2px 3px;
    border: 1px solid rgb(126, 171, 205);
    background: LightYellow;
    font-family: Lucida Grande, Tahoma, sans-serif;
    color: #000000;
    display: none;
    white-space: nowrap;
    pointer-events: none;
    border-radius: 3px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}

.infoTip[active="true"] {
    display: block;
}

.infoTipLoading {
    width: 16px;
    height: 16px;
    background: url(chrome://firebug/skin/loading.svg) no-repeat;
}

.infoTipImageBox {
    min-width: 100px;
    text-align: center;
}

.infoTipCaption {
    font: message-box;
}

.infoTipLoading > .infoTipImage,
.infoTipLoading > .infoTipCaption {
    display: none;
}

/************************************************************************************************/
/* Groups */

.groupHeader {
    position: relative;
    border-bottom: none;
    margin: 0 0 4px 0;
    padding: 2px 4px;
    background: #F0F0F0 linear-gradient(to top, rgba(0, 0, 0, 0.1), transparent) repeat-x;
    font-size: inherit;
}

.foldableGroup {
    border-spacing: 0;
}

.foldableGroup > .groupHeader {
    cursor: pointer;
    -moz-user-select: none;
}

.foldableGroup > .groupHeader > .groupLabel {
    margin-left: 14px;
}

.foldableGroup > .groupContent {
    display: none;
}

.foldableGroup.opened > .groupContent {
    display: table;
}

/************************************************************************************************/

.fullPanelEditor {
    z-index: 2147483647;
    position: fixed;
    left: 0 !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0;
    border: none;
    /* padding-left: 8px; XXXjjb issue 1317 Causes the scrollbar on long sources to be hidden under the divider */
    font-family: monospace;
    font-size: Inherit;
}

/************************************************************************************************/
/* Default content for disabled panels */

.disabledPanelBox {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    padding: 10px 10px 0px 90px;
    background: #FFFFFF url(chrome://firebug/skin/firebugBig.png) no-repeat 30px 30px/32px;
    color: #000000;
    font: message-box;
}

.disabledPanelLink:hover {
    text-decoration: underline;
    cursor: pointer;
}

.disabledPanelDescription {
    margin: 8px 0;
    font-size: 13px;
}

.disabledPanelDescription.applyDesc{
    font-size: 11px;
    color: gray;
}

.disabledPanelApplyButton .host {
    color: blue;
}

.disabledPanelBox .descImage {
    margin-top: 5px;
    margin-left: 0;
    margin-bottom: 5px;
    vertical-align: middle;
    height: 20px;
    width: 100px;
    display: inline-block;
    background-repeat: no-repeat;
}

.disabledPanelHead:first-letter {
    text-transform: capitalize;
}

.disabledPanelBox .descImage-console {
    background-image: url(chrome://firebug/skin/activation-menu-console.png);
}

.disabledPanelBox .descImage-script {
    background-image: url(chrome://firebug/skin/activation-menu-script.png);
}

.disabledPanelBox .descImage-net {
    background-image: url(chrome://firebug/skin/activation-menu-net.png);
}

/************************************************************************************************/

.useA11y .textEditorInner:focus {
    outline: 2px solid #FF9933;
}

.useA11y .a11yFocus:focus,
.useA11y .a11yFocusNoTab:focus,
.useA11y .focusRow:focus{
    outline: 2px solid #FF9933;
    background-color: #FFFFD6;
    z-index: 10000;
}

.useA11y :focus .objectLink-sourceLink {
    background-color: transparent;
}

.useA11y .objectBox-null:focus,
.useA11y .objectBox-undefined:focus{
    background-color: #888888 !important;
}

.offScreen {
    position: fixed;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/************************************************************************************************/
/* These are copies of the classes from debugger.css that start .condition */

.notationCaption {
    padding-top: 5px;
}

.notationTitle {
    font-weight: bold;
}

.notationTitle.diff {
    font-weight: normal;
}

.notationButton {
    float: right;
}

/************************************************************************************************/
