/* See license.txt for terms of usage */

/************************************************************************************************/
/* Twisties */

.twisty,
.foldableGroup > .groupHeader > .twisty,
.logRow-errorMessage .hasTwisty > .errorTitle,
.logRow-log .objectBox-array.hasTwisty,
.logRow-spy .spyHead .spyTitle,
.logGroup > .logRow,
.memberRow.hasChildren > .memberLabelCell > .memberLabel,
.memberRow.cropped > .memberLabelCell > .memberLabel,
.hasHeaders .netHrefLabel,
.objectBox-stackFrame.hasTwisty,
.objectBox-functionCall.hasTwisty,
.netPageRow > .netCol > .netPageTitle,
.cssComputedHeader > .twisty,
.breakpointHeader > .twisty,
.computedStyle.hasSelectors > .stylePropName,
.cookieRow > .cookieNameCol > .cookieNameLabel {
    background-image: url(chrome://firebug/skin/win/twistyClosed.svg);
    background-repeat: no-repeat;
    background-position: 2px calc(0.5em - 3px);
    min-height: 12px;
}

.foldableGroup.opened > .groupHeader > .twisty,
.logRow-errorMessage .hasTwisty.opened > .errorTitle,
.logRow-log .objectBox-array.hasTwisty.opened,
.logRow-spy.opened .spyHead .spyTitle,
.logGroup.opened > .logRow,
.memberRow.hasChildren.opened > .memberLabelCell > .memberLabel,
.memberRow.cropped.opened > .memberLabelCell > .memberLabel,
.nodeBox.highlightOpen > .nodeLabel > .twisty,
.nodeBox.open > .nodeLabel > .twisty,
.netRow.opened > .netCol > .netHrefLabel,
.netPageRow.opened > .netCol > .netPageTitle,
.netHeadersGroup.opened > .netInfoHeadersGroup > .twisty,
.objectBox-stackFrame.hasTwisty.opened,
.objectBox-functionCall.hasTwisty.opened,
.computedStylesGroup.opened > .cssComputedHeader > .twisty,
.breakpointBlock.opened > .breakpointHeader > .twisty,
.computedStyle.hasSelectors.opened > .stylePropName,
.cookieRow.opened > .cookieNameCol > .cookieNameLabel {
    background-image: url(chrome://firebug/skin/win/twistyOpen.svg);
    background-repeat: no-repeat;
    min-height: 12px;
}

.hasHeaders .netHrefLabel,
.netInfoHeadersTable .netHeader,
.netHrefLabel,
.cookieRow > .cookieNameCol > .cookieNameLabel {
    background-position: 2px 50%;
}

/************************************************************************************************/
/* Watch side panel */

.closeButton {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(chrome://firebug/skin/win/close.svg) no-repeat 0 0;
}

.closeButton:hover {
    filter: url(resource://firebugui/filters.svg#darken);
}

.closeButton:active {
    filter: url(resource://firebugui/filters.svg#deepDarken);
}
