/* See license.txt for terms of usage */

@import "chrome://firebug/skin/panelbase.css";
@import "chrome://firebug/skin/console.css";
@import "chrome://firebug/skin/net.css";
@import "chrome://firebug/skin/html.css";
@import "chrome://firebug/skin/css.css";
@import "chrome://firebug/skin/debugger.css";
@import "chrome://firebug/skin/layout.css";
@import "chrome://firebug/skin/dom.css";
@import "chrome://firebug/skin/tracePanel.css"; /*@explore*/
@import "chrome://firebug-os/skin/panel.css";

