/* See license.txt for terms of usage */

html {
    background-color: -moz-dialog;
}

body {
    margin: 0;
    overflow: hidden;
    font-family: Lucida Grande, Tahoma, sans-serif;
    font-size: 11px;
}

h1 {
    font-size: 17px;
    border-bottom: 1px solid #CCCCCC;
}

a {
    color: #0000ff;
}

pre {
    margin: 0;
    font: inherit;
}

code {
    display:block;
    white-space:pre;
}

/************************************************************************************************/

.jumpHighlight {
    background-color: #C4F4FF !important;
}

/************************************************************************************************/

.collapsed,
[collapsed="true"] {
    display: none;
}

.obscured {
    left: -999999px !important;
}

.measureBox {
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
    white-space: nowrap;
}

/************************************************************************************************/

.panelNode {
    display: none;
    overflow: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #FFFFFF;
    color: #000000;
}

.panelNode[active="true"] {
    display: block;
}

.pluginBrowser {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    border: none;
}

/************************************************************************************************/

.dialogBox {
    position: relative;
    margin: 4em auto;
    border: 1px solid threedshadow;
    -moz-border-radius: 10px;
    padding: 20px 30px 30px 90px;
    background: -moz-field url(chrome://firebug/skin/firebug32.png) no-repeat 30px 30px;
    color: -moz-fieldText;
    font: message-box;
    min-width: 13em;
    max-width: 48em;
}

.dialogCaption {
    font-size: 130%;
}

.dialogRow {
    margin: 8px 0;
    font-size: 13px;
}

.dialogLink:hover {
    text-decoration: underline;
}

.disabledCaption {
    display: none;
}

.cantDisplayPage > .dialogCaption {
    display: block;
}

.cantDisplayPage > .dialogRow {
    display: none;
}

/************************************************************************************************/

#trialBox {
    z-index: 2147483647;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: -moz-dialog;
}

/************************************************************************************************/

.inlineEditor,
.fixedWidthEditor {
    z-index: 2147483647;
    position: absolute;
}

.inlineEditor {
    margin-left: -6px;
    margin-top: -3px;
}

.textEditorInner,
.fixedWidthEditor {
    margin: 0 0 0 0 !important;
    padding: 0;
    border: none !important;
    font: inherit;
    text-decoration: inherit;
    background-color: window;
}

.fixedWidthEditor {
    border-top: 1px solid #888888 !important;
    border-bottom: 1px solid #888888 !important;
}

.textEditorInner {
    position: relative;
    top: -7px;
    left: -5px;
}

.textEditorInner1 {
    padding-left: 11px;
    background: url(textEditorBorders.png) repeat-y;
}

.textEditorInner2 {
    position: relative;
    padding-right: 2px;
    background: url(textEditorBorders.png) repeat-y 100% 0;
}

.textEditorTop1 {
    background: url(textEditorCorners.png) no-repeat 100% 0;
    margin-left: 11px;
    height: 10px;
}

.textEditorTop2 {
    position: relative;
    left: -11px;
    width: 11px;
    height: 10px;
    background: url(textEditorCorners.png) no-repeat;
}

.textEditorBottom1 {
    position: relative;
    background: url(textEditorCorners.png) no-repeat 100% 100%;
    margin-left: 11px;
    height: 12px;
}

.textEditorBottom2 {
    position: relative;
    left: -11px;
    width: 11px;
    height: 12px;
    background: url(textEditorCorners.png) no-repeat 0 100%;
}

/************************************************************************************************/

.infoTip {
    z-index: 2147483647;
    position: fixed;
    padding: 2px 3px;
    border: 1px solid #CBE087;
    background: LightYellow;
    font-family: monospace;
    color: #000000;
    display: none;
    white-space: nowrap;
    pointer-events: none;
}

.infoTip[active="true"] {
    display: block;
}

.infoTipLoading {
    width: 16px;
    height: 16px;
    background: url(chrome://firebug/skin/loading_16.gif) no-repeat;
}

.infoTipImageBox {
    min-width: 100px;
    text-align: center;
}

.infoTipCaption {
    font: message-box;
}

.infoTipLoading > .infoTipImage,
.infoTipLoading > .infoTipCaption {
    display: none;
}

/************************************************************************************************/

h1.groupHeader {
    padding: 2px 4px;
    margin: 0 0 4px 0;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    background: url(chrome://firebug/skin/group.gif) repeat-x #FFFFFF;
    font-size: inherit;
}

/************************************************************************************************/

.fullPanelEditor {
    z-index: 2147483647;
    position: fixed;
    left: 0 !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0;
    border: none;
    /* padding-left: 8px; XXXjjb issue 1317 Causes the scrollbar on long sources to be hidden under the divider */
    font-family: monospace;
    font-size: Inherit;
}

/************************************************************************************************/
/* Default content for disabled panels */

.disabledPanelBox {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    padding: 10px 10px 0px 90px;
    background: -moz-field url(chrome://firebug/skin/firebug32.png) no-repeat 30px 30px;
    color: -moz-fieldText;
    font: message-box;
}

.disabledPanelLink:hover {
    text-decoration: underline;
    cursor: pointer;
}

.disabledPanelDescription {
    margin: 8px 0;
    font-size: 13px;
    width: 75%;
}

.disabledPanelDescription.applyDesc{
    font-size: 11px;
    color: gray;
}

.disabledPanelApplyButton .host {
    color: blue;
}

.disabledPanelBox .descImage {
    margin-top: 5px;
    margin-left: 0;
    margin-bottom: 5px;
    vertical-align: middle;
    height: 20px;
    width: 100px;
    display: inline-block;
    background-repeat: no-repeat;
}

.disabledPanelHead:first-letter {
    text-transform: capitalize;
}

.disabledPanelBox .descImage-console {
    background-image: url(chrome://firebug/skin/activation-menu-console.png);
}

.disabledPanelBox .descImage-script {
    background-image: url(chrome://firebug/skin/activation-menu-script.png);
}

.disabledPanelBox .descImage-net {
    background-image: url(chrome://firebug/skin/activation-menu-net.png);
}

.disabledPanelBox .descImage-net {
    background-image: url(chrome://firebug/skin/activation-menu-net.png);
}

/************************************************************************************************/

.useA11y .textEditorInner:focus {
    outline: 2px solid #FF9933;
}

.useA11y .a11yFocus:focus,
.useA11y .a11yFocusNoTab:focus,
.useA11y .focusRow:focus{
    outline: 2px solid #FF9933;
    background-color: #FFFFD6;
    z-index: 10000;
}

.useA11y :focus .objectLink-sourceLink {
    background-color: transparent;
}

.useA11y .objectBox-null:focus,
.useA11y .objectBox-undefined:focus{
    background-color: #888888 !important;
}

.offScreen {
    position: fixed;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/************************************************************************************************/
/* These are copies of the classes from debugger.css that start .condition */

.notationEditorInner1 {
    padding-left: 37px;
    background: url(noteBorders.png) repeat-y;
}

.notationEditorInner2 {
    padding-right: 25px;
    background: url(noteBorders.png) repeat-y 100% 0;
}

.notationEditorTop1 {
    background: url(noteCorners.png) no-repeat 100% 0;
    margin-left: 37px;
    height: 35px;
}

.notationEditorTop2 {
    position: relative;
    left: -37px;
    width: 37px;
    height: 35px;
    background: url(noteCorners.png) no-repeat;
}

.notationEditorBottom1 {
    background: url(noteCorners.png) no-repeat 100% 100%;
    margin-left: 37px;
    height: 33px;
}

.notationEditorBottom2 {
    position: relative;
    left: -37px;
    width: 37px;
    height: 33px;
    background: url(noteCorners.png) no-repeat 0 100%;
}

.notationCaption {
    padding-top: 3px;
    margin-bottom: 2px;
    font-family: Lucida Grande, sans-serif;
    font-size: 11px;
    color: #226679;
}

.notationTitle {
    font-weight: bold;
}

.notationTitle.diff {
    font-weight: normal;
}

.notationButton {
    float: right;
}

.upsideDown {
    margin-top: 2px;
}

.upsideDown .notationEditorInner {
    top: -8px;
}

.upsideDown .notationEditorInner1 {
    padding-left: 33px;
    background: url(noteBordersUps.png) repeat-y;
}

.upsideDown .notationEditorInner2 {
    padding-right: 25px;
    background: url(noteBordersUps.png) repeat-y 100% 0;
}

.upsideDown .notationEditorTop1 {
    background: url(noteCornersUps.png) no-repeat 100% 0;
    margin-left: 33px;
    height: 25px;
}

.upsideDown .notationEditorTop2 {
    position: relative;
    left: -33px;
    width: 33px;
    height: 25px;
    background: url(noteCornersUps.png) no-repeat;
}

.upsideDown .notationEditorBottom1 {
    background: url(noteCornersUps.png) no-repeat 100% 100%;
    margin-left: 33px;
    height: 43px;
}

.upsideDown .notationEditorBottom2 {
    position: relative;
    left: -33px;
    width: 33px;
    height: 43px;
    background: url(noteCornersUps.png) no-repeat 0 100%;
}

/************************************************************************************************/
