/* Rules for Selector panel elements */

.cssSelectionTable {
    width: 100%;
}
.selectionElement {
    padding: 0 0 0 1ex;
}

.selectorWarning {
    font-size: 11px;
    color: gray;
    padding: 2px 0 0 1ex;
}

.selectionErrorText  {
    color: black;
    padding: 1em;
    background-color: #FFEBEB;
}

/* Rules for select panel's effect on CSS stylesheet panel */
.selectedSelectorRule {
    border-color: Highlight !important;
    background-color: #EBF5FF !important;
    color: #000000 !important;
    cursor: pointer;
}

.cssSelector,
.cssPropName,
.cssPropValue {
    cursor: text;
}

.lockedSelectorRule {
    background-color: Highlight;
}

.lockedSelectorRule * {
    color: HighlightText !important;
}