.panelNode-TraceFirebug {
    overflow-x: hidden;
}

.FBTraceColumn {
    float: left;
    width: 16.6%;
}

.FBTraceOption {
    display: block;
    width: 100%;
    margin: 1px;
    cursor: default !important;
    padding-bottom: 1px;
    border-color: #D7D7D7;
    -moz-border-radius: 4px 4px 4px 4px;
    background-color: #FFFFFF;
    font-size:12px;
}

.FBTraceOption[checked="true"] {
    font-weight: bold;
    background-color: #D7D7D7;
}
