@keyframes identifier {
    0% {
        top: 0;
        left: 0;
    }

    30% {
        top: 50px;
    }

    68%, 72% {
        left: 50px;
    }

    100% {
        top: 100px;
        left: 100%;
    }
}