/* See license.txt for terms of usage */

@import "chrome://firebug/skin/panelbase.css";
@import "chrome://firebug/skin/breakpoint.css";
@import "chrome://firebug/skin/console.css";
@import "chrome://firebug-os/skin/console.css";
@import "chrome://firebug/skin/net.css";
@import "chrome://firebug-os/skin/net.css";
@import "chrome://firebug/skin/jsonViewer.css";
@import "chrome://firebug/skin/fontViewer.css";
@import "chrome://firebug/skin/html.css";
@import "chrome://firebug/skin/css.css";
@import "chrome://firebug-os/skin/css.css";
@import "chrome://firebug/skin/events.css";
@import "chrome://firebug/skin/debugger.css";
@import "chrome://firebug-os/skin/debugger.css";
@import "chrome://firebug/skin/balloonNote.css";
@import "chrome://firebug/skin/callstack.css";
@import "chrome://firebug/skin/layout.css";
@import "chrome://firebug/skin/dom.css";
@import "chrome://firebug/skin/watch.css";
@import "chrome://firebug/skin/selectors.css";
@import "chrome://firebug/skin/performanceTiming.css";
@import "chrome://firebug/skin/tableRep.css";
@import "chrome://firebug/skin/panel.css";
@import "chrome://firebug-os/skin/panel.css";
@import "chrome://firebug/skin/timeInfoTip.css";
@import "chrome://firebug/skin/panelNotification.css";

/* JSD2 additions*/
@import "chrome://firebug/skin/scriptPanel.css";
@import "chrome://firebug/skin/callstackPanel.css";
