/* See license.txt for terms of usage */

.messageInfoText {
    font-family: monospace;
}

.memberRow.hasChildren > .memberLabelCell > .memberLabel {
    background-image: url(chrome://fbtrace/skin/mac/twistyClosed.svg);
    background-repeat: no-repeat;
    background-position: 2px 2px;
    min-height: 12px;
}

.memberRow.hasChildren.opened > .memberLabelCell > .memberLabel {
    background-image: url(chrome://fbtrace/skin/mac/twistyOpen.svg);
}
