/* See license.txt for terms of usage */

/*************************************************************************************************/
/* Customizable Dialog Toolbar Buttons */

/* Inspector button */
#inspector-button {
  list-style-image: url(chrome://firebug/skin/inspect.png);
}

toolbar[iconsize="small"] #inspector-button > .toolbarbutton-icon {
    list-style-image: url(chrome://firebug/skin/inspect.png);
    width: 16px;
    height: 16px;
}

/* Firebug Start Button */
#firebug-button {
    list-style-image: url(chrome://firebug/skin/firebug24.png);
}

#firebug-button[script="on"],
#firebug-button[net="on"],
#firebug-button[console="on"] {
    list-style-image: url(chrome://firebug/skin/firebug24.png);
}

#firebug-button[suspended="suspended"] {
    list-style-image: url(chrome://firebug/skin/firebug-gray-24.png);
}

toolbar[iconsize="small"] #firebug-button[script="on"] > .toolbarbutton-icon,
toolbar[iconsize="small"] #firebug-button[net="on"] > .toolbarbutton-icon,
toolbar[iconsize="small"] #firebug-button[console="on"] > .toolbarbutton-icon {
    list-style-image: url(chrome://firebug/skin/firebug16.png);
}

toolbar[iconsize="small"] #firebug-button[suspended="suspended"] > .toolbarbutton-icon {
    list-style-image: url(chrome://firebug/skin/firebug-gray-16.png);
}

toolbar[iconsize="small"] #firebug-button > .toolbarbutton-icon {
    list-style-image: url(chrome://firebug/skin/firebug16.png);
    width: 16px;
    height: 16px;
}

/* In Firefox 4, the button has a special badge that shows number of errors. Also, the icon
   size is always 16x16px and so, if the button is appended into bookmarks or addon-bar the
   height is not affected. This is OK since the plan for Firefox 4 is to use 16x16 sizes
   only anyway, see: https://bugzilla.mozilla.org/show_bug.cgi?id=616472 */
#firebug-button[firefox="4"] {
    -moz-binding: url("chrome://firebug/content/firefox/start-button/startButton.xml#start-button");
}

#firebug-button[script="on"][firefox="4"],
#firebug-button[net="on"][firefox="4"],
#firebug-button[console="on"][firefox="4"] {
    list-style-image: url(chrome://firebug/skin/firebug16.png);
}

#firebug-button[firefox="4"] {
    list-style-image: url(chrome://firebug/skin/firebug16.png);
}

#firebug-button[suspended="suspended"][firefox="4"] {
    list-style-image: url(chrome://firebug/skin/firebug-gray-16.png);
}

/* Error badge (displays an error counter). The badge is only visible if error count
   should be displayed */
#firebug-button .badge {
    display: none;
}

#firebug-button[showErrors="true"] .badge {
    display: block;
    -moz-box-sizing: border-box;
    margin: 0;
}

#firebug-button .badge > .label {
    -moz-box-sizing: border-box;
    visibility: hidden;
    font-size: 10px;
    padding: 0 3px;
    line-height: 13px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 0 1px #EEF1F7;
    color: #900;
    border-radius: 3px;
    background-color: rgba(255, 0, 0, 0.9);
    box-shadow: inset 0px 0px 1px white;
    background-image: -moz-linear-gradient(
        center bottom,
        #DBE1EB 0%,
        #DEE4EB 80%,
        #E7EBF3 81%
    );
    border-width: 1px;
    border-style: solid;
    border-color: #B3BBC4 #9DA4AD #868D96 #9DA4AD;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.3) inset,
                0 1px 0 rgba(180, 189, 202, 0.7),
                0 0 3px rgba(153, 0, 0, 0.9);
}

#firebug-button[showErrors="true"]:not([errorCount="0"]) .badge .label {
    visibility: visible;
}

/* Slightly different positions of the badge for individual toolbars */
#nav-bar #firebug-button .badge {
    margin: 3px -10px 0 -8px;
}

#addon-bar #firebug-button .badge {
    margin-top: 1px;
}

#TabsToolbar #firebug-button .badge {
    margin-top: 4px;
}

#toolbar-menubar #firebug-button .badge {
    margin-top: 4px;
}

#firebug-button .fb-toolbarbutton {
    padding: 0;
}

/*************************************************************************************************/
/* Firebug Status Icon */

#fbStatusBar {
    min-width: 26px;
    cursor: pointer;
}

#fbStatusText {
    cursor: pointer;
    color: red;
    font-weight: bold;
}

#fbStatusBar[showErrors] #fbStatusIcon {
    list-style-image: url(chrome://firebug/skin/errorIcon.png);
}

#fbStatusIcon {
    list-style-image: url(chrome://firebug/skin/firebug-gray-16.png);
}

#fbStatusIcon[script="on"],
#fbStatusIcon[net="on"],
#fbStatusIcon[console="on"] {
    list-style-image: url(chrome://firebug/skin/firebug16.png);
}

#fbStatusIcon[suspended="suspended"] {
    list-style-image: url(chrome://firebug/skin/firebug-gray-16.png);
}

