/* xxxHonza: This should be removed, fix me: issue 471 */
@import "chrome://firebug/skin/win/firebug.css";

/* Add some basic padding to the completion popup (missing on Linux). */
.userTypedText {
    margin-left: 1px;
}

/*************************************************************************************************/
/* Command Line */

#fbCommandArrow,
.fbCommandLine {
    font-size: 11px;
}

.fbCommandLineCompletionPanel {
    font-size: 12px!important;
}

/*************************************************************************************************/
/* Toolbar */

#fbToolbox {
    border-bottom: 1px solid #A0A0A0;
    background-color: rgb(240, 240, 240);
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2));
}

#fbCommandEditorHistoryButton[disabled="true"] {
    color: graytext;
}

#fbCommandArrow {
    font-size: 12px;
}

#fbCommandBox {
    height: 21px;
}

panelTab {
    font-size: 12px;
}

.fbsearch-splitter {
    margin-right: 2px;
}

toolbarseparator {
    min-width: 0;
}

.toolbarbutton-menubutton-dropmarker {
    margin: 0;
    padding: 0 6px;
}

toolbarbutton[type=menu-button]:not(:hover):not(:active):not([open]) > .toolbarbutton-menubutton-dropmarker::before {
    height: 13px;
    -moz-margin-start: -6px;
    -moz-margin-end: 6px;
}

/*************************************************************************************************/
/* Override Australis Styles coming from Win theme xxxHonza: fix me issue 471 */

panelBarArrowscrollbox > .scrollbutton-up,
panelBarArrowscrollbox > .scrollbutton-down {
    border-color: rgb(207, 207, 207);
}

panelTab[selected="true"] {
    border: 1px solid #A0A0A0;
    border-bottom: 1px solid rgb(253, 253, 253);
    background-color: rgb(253, 253, 253);
    color: inherit;
}

panelTab:not([selected="true"]):hover {
    border: 1px solid #C8C8C8;
    border-bottom: 1px solid transparent;
    backround-color: transparent;
}

#fbPanelBar1-panelTabs panelTab,
#fbPanelBar2-panelTabs panelTab {
    padding-top: 5px;
    padding-bottom: 5px;
}

#fbPanelBar1-tabBoxBackground,
#fbPanelBar2-tabBoxBackground {
    border-bottom: 1px solid #A0A0A0;
}

#fbPanelBar1-tabBoxBackground {
    background-color: rgb(240, 240, 240);
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
}

#fbPanelBar2-tabBoxBackground {
    background-color: rgb(240, 240, 240);
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2));
    border-bottom: 1px solid #A0A0A0;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#fbCommandToolbar {
    background-color: rgb(240, 240, 240);
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2));
    border-bottom: 1px solid #A0A0A0;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#fbPanelSplitter > #fbPanelSplitterBox {
    background-color: rgb(240, 240, 240);
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2));
    border-bottom: 1px solid #A0A0A0;
}

/*************************************************************************************************/
/* Search Box */

.fbsearch-textbox {
    border-color: #96969D;
}

.fbsearch-options-buttons,
.fbsearch-options-buttons:hover:not([disabled="true"]) {
    border-color: #96969D;
}

/*************************************************************************************************/
/* Buttons */

toolbarbutton,
toolbarbutton[type=menu-button] > .toolbarbutton-menubutton-button {
    padding: 2px 6px;
}

#fbPanelBar1 toolbarbutton {
    font-size: 12.4px;
}

toolbarbutton[type=menu-button][open="true"]:not([disabled="true"]) > .toolbarbutton-menubutton-dropmarker {
    border-color: transparent;
    box-shadow: none;
}

#fbBreakOnNextButton,
.toolbar-image-button {
    width: 21px;
    height: 21px;
}
