
body {
    cursor: hand;
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    background-color: cyan;
}

a.funLink {
    font-weight: bold;
    color: blue;
    margin: 4px;
    padding: 4px;
}

.stuff {
    position: absolute;
}

