<!DOCTYPE html>
<html>
    <head>
        <title>Issue 5885: Layout side panel doesn't refresh data when resizing browser window</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href="../../../_common/testcase.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <header>
            <h1><a href="http://code.google.com/p/fbug/issues/detail?id=5885">Issue 5885</a>: Layout side panel doesn't refresh data when resizing browser window</h1>
        </header>
        <div>
            <section id="description">
                <h3>Steps to reproduce</h3>
                <ol>
                    <li>Open Firebug</li>
                    <li>
                        Switch to the <em>HTML</em> panel and there to the <em>Layout</em> side
                        panel
                    </li>
                    <li>Change the browser size</li>
                </ol>
                <h3>Expected result</h3>
                <ul>
                    <li>
                        The size within the Layout panel should automatically update to reflect the
                        current dimensions of the selected element.
                    </li>
                </ul>
            </section>
            <footer>Sebastian Zartner, sebastianzartner@gmail.com</footer>
        </div>
    </body>
</html>
