.fontInfoGroup {
    margin-bottom: 4px;
    border-bottom: 1px solid #D7D7D7;
    padding-top: 8px;
    padding-bottom: 2px;
    font-family: Lucida Grande, Tahoma, sans-serif;
    font-weight: bold;
    color: #565656;
}

.fontInfoGroup:first-child {
    padding-top: 0;
}

.fontInfoToggleView {
    color: #bdbdbd;
    margin-left: 100px;
    font-weight: normal;
}

.fontInfoToggleView:hover {
    color: blue;
    cursor: pointer;
}

.fontInfoPropName {
    padding: 0 10px 0 0;
    font-family: Lucida Grande, Tahoma, sans-serif;
    font-weight: bold;
    vertical-align: top;
    text-align: right;
    white-space: nowrap;
}

.fontInfoPropValue {
    width: 100%;
}

.fontInfoLink {
    display: block;
}

.fontInfoCredits {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.fontInfoCreditsRole {
    color: #bdbdbd;
}

.fontInfoTranslatedInfo {
    margin-top: 3px;
}

.fontInfoLangTab {
    margin: 2px 1px;
    padding: 0 4px;
    font-family: Lucida Grande, Tahoma, sans-serif;
}

.fontInfoLangTab.selected {
    margin: 2px 0;
    border: 1px solid #bdbdbd;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-width: 0;
    background: #ffffff;
    color: #000000;
}

.fontViewerFontSize {
    font-family: Lucida Grande, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 11px;
    margin-right: 5px;
}

.fontInfoPreview {
    font-size: 24pt;
}

.fontInfoPreview > div > p {
    margin: 3px;
}

.fontInfoPreviewCharacters {
    display: none;
}