/* See license.txt for terms of usage */

/************************************************************************************************/
/* JSON viewer */

.jsonPreview .title {
    margin-bottom: 4px;
    border-bottom: 1px solid #D7D7D7;
    padding-bottom: 2px;
    font-family: Lucida Grande, Tahoma, sans-serif;
    font-weight: bold;
    color: #565656;
}

.jsonPreview .sortLink {
    color: #bdbdbd;
    font-weight: normal;
    padding-left: 1px;
}

.jsonPreview .sortLink:hover {
    color: blue;
    cursor: pointer;
}

/************************************************************************************************/
/* sort link label */

.sortLink .doSort {
    display: inline;
}

.sortLink .doNotSort {
    display: none;
}

.sortLink.sorted .doSort {
    display: none;
}

.sortLink.sorted .doNotSort {
    display: inline;
}
