/* See license.txt for terms of usage */

/************************************************************************************************/
/* Breakpoint condition */

/* xxxsz: Use PNG images for condition editor, because using SVGs as border images is broken
   up to Firefox 22.0. Use SVGs as soon as Firefox 23.0 is the min. supported version.
   (see issue 6607) */
.conditionEditor {
    border-style: solid;
    border-width: 19px 25px 33px 33px;
    border-image: url(chrome://firebug/skin/win/breakpointConditionEditor.png) 19 25 33 33 fill stretch;
}

.conditionCaption {
    margin-bottom: 2px;
    font-family: Lucida Grande, sans-serif;
    font-weight: bold;
    font-size: 11px;
    color: #226679;
}

.conditionInput {
    border: 1px solid #0096C0;
    font-family: monospace;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.upsideDown {
    border-width: 28px 25px 19px 33px;
    border-image: url(chrome://firebug/skin/win/breakpointConditionEditorDown.png) 28 25 19 33 fill stretch;
}