/* See license.txt for terms of usage */

#fbFirebugMenu {
    margin-bottom: 1px;
    opacity: 0.8;
}



#fbFirebugMenu:hover,
#fbFirebugMenu[open="true"] {
    opacity: 1.0;
}

#fbFirebugMenu > .toolbarbutton-text,
#fbFirebugMenu > .toolbarbutton-menu-dropmarker {
    display: none;
}

.toolbar-text-button,
.toolbar-text-menubutton {
    padding: 3px 6px;
}

.toolbar-text-button[checked="true"] {
    padding: 3px 6px !important;
}

.toolbar-text-button > .toolbarbutton-icon,
.toolbar-text-menubutton > .toolbarbutton-icon {
    /*display: none;*/
}

.toolbar-text-menubutton:hover:active,
.toolbar-text-menubutton[open="true"] {
    padding: 4px 5px 2px 7px;
}

#fbToolbox .toolbarbutton-menu-dropmarker {
    margin-left: 3px;
}

/************************************************************************************************/

.toolbarbutton-iconic {
    -moz-appearance: none;
    padding: 0 !important;
    border: none !important;
    background: transparent !important;
}

.toolbarbutton-iconic > .toolbarbutton-icon {
    padding: 0;
}

#fbDebuggerButtons {
    margin-top: 1px;
}

#fbSearchButtons {
    margin-bottom: 2px;
}

#fbMinimizeButton {
    list-style-image: url(chrome://firebug/skin/win/min.png);
}

#fbMinimizeButton:hover {
    list-style-image: url(chrome://firebug/skin/win/minHover.png);
}

#fbMinimizeButton:hover:active {
    list-style-image: url(chrome://firebug/skin/win/minActive.png);
}


#fbCloseButton {
    margin: 0 4px 0 0;
    -moz-image-region: rect(auto, auto, auto, auto);
    list-style-image: url("chrome://firebug/skin/win/off.png");
}

#fbCloseButton:hover {
    list-style-image: url("chrome://firebug/skin/win/offHover.png");
}

#fbCloseButton:hover:active {
    list-style-image: url("chrome://firebug/skin/win/offActive.png");
}

#fbDetachButton {
    margin: 0;
    -moz-image-region: rect(auto, auto, auto, auto);
    list-style-image: url(chrome://firebug/skin/win/detach.png);
}

#fbDetachButton:hover {
    list-style-image: url(chrome://firebug/skin/win/detachHover.png);
}

#fbDetachButton:hover:active {
    list-style-image: url(chrome://firebug/skin/win/detachActive.png);
}

#fbCommandToggleSmall {
    list-style-image: url(chrome://firebug/skin/win/up.png);
}

#fbCommandToggleSmall:hover {
    list-style-image: url(chrome://firebug/skin/win/upHover.png);
}

#fbCommandToggleSmall:hover:active {
    list-style-image: url(chrome://firebug/skin/win/upActive.png);
}

#fbCommandToggleLarge {
    list-style-image: url(chrome://firebug/skin/win/down.png);
}

#fbCommandToggleLarge:hover {
    list-style-image: url(chrome://firebug/skin/win/downHover.png);
}

#fbCommandToggleLarge:hover:active {
    list-style-image: url(chrome://firebug/skin/win/downActive.png);
}

/************************************************************************************************/

#fbLargeCommandLine {
    -moz-appearance: none;
    border: none;
    border-top: 1px solid;
    -moz-border-top-colors: threedshadow;
    padding: 2px 0 0 2px;
}

#fbCommandToolbar {
    border-top: 1px solid threedshadow;
}

#fbContentSplitter {
    border-top: 1px solid !important;
    -moz-border-top-colors: threedShadow !important;
    border-bottom: 1px solid !important;
    -moz-border-bottom-colors: #EEEEEE !important;
    min-height: 3px;
    max-height: 3px;
    background-color: #FFFFFF;
}

#fbToolbar {
    padding-bottom: 1px;
    border-bottom: none;
}

/************************************************************************************************/

.panelTabBox {
    background: url(chrome://firebug/skin/win/tabBg.png) repeat-x bottom;
    border-bottom: 1px solid threedshadow;
    padding: 0 4px;
    overflow: hidden;
}

.panelTabs {
    -moz-box-align: end;
}

panelTab {
    margin: 1px 0 0 0;
    border: none;
    font-weight: bold;
    color: #565656;
    font-size: 11px;
    direction: ltr;
}

panelTab[selected="true"] {
    color: inherit;
}

.panelTab-left {
    width: 8px;
}

.panelTab-text {
    margin: 0;
    padding: 3px 1px 4px 1px;
}

.panelTab-text[disabled="true"] {
    color:Gray;
}

.panelTab-right {
    width: 8px;
}

panelTab:hover > .panelTab-left {
    background: url(chrome://firebug/skin/win/tabLeftHover.png) no-repeat top;
}

panelTab:hover > .panelTab-text {
    background: url(chrome://firebug/skin/win/tabMidHover.png) repeat-x top;
}

panelTab:hover > panelTabMenu {
    background: url(chrome://firebug/skin/win/tabMidHover.png) repeat-x top;
}

panelTab:hover > .panelTab-right {
    background: url(chrome://firebug/skin/win/tabRightHover.png) no-repeat top;
}

panelTab[selected="true"] > .panelTab-left {
    background: url(chrome://firebug/skin/win/tabLeft.png) no-repeat top;
}

panelTab[selected="true"] > .panelTab-text {
    background: url(chrome://firebug/skin/win/tabMid.png) repeat-x top;
}

panelTab[selected="true"] > panelTabMenu {
    background: url(chrome://firebug/skin/win/tabMid.png) repeat-x top;
}

panelTab[selected="true"] > .panelTab-right {
    background: url(chrome://firebug/skin/win/tabRight.png) no-repeat top;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.panelOptionsButton {
    -moz-appearance: none;
    border: none;
}

.panelOptionsButton,
.panelOptionsButton:hover:active,
.panelOptionsButton[open="true"] {
    margin: 2px;
    padding: 0 6px;
}

.panelOptionsButton:hover {
    cursor: pointer;
}

.panelOptionsButton:hover > .toolbarbutton-text {
    color: blue;
    text-decoration: underline;
}

.panelOptionsButton[open="true"] > .toolbarbutton-text {
    color: red;
    text-decoration: underline;
}

.panelOptionsButton[disabled="true"] > .toolbarbutton-text {
    color: graytext;
    text-decoration: none;
}

/************************************************************************************************/

#fbPanelStatus {
    margin: 0 5px 0 0;
    overflow: hidden;
}

.panelStatusSeparator {
    margin: 0;
    color: graytext;
}

.panelStatusLabel {
    cursor: pointer;
    margin: 0;
    padding: 0 4px;
}

.panelStatusLabel:hover {
    color: blue;
}

.panelStatusLabel[selected="true"] {
    font-weight: bold;
}

.menuHeader {
    margin: 2px 6px;
    font-weight: bold;
}

/************************************************************************************************/

