/* See license.txt for terms of usage */

/* overrides to revert personas. see http://code.google.com/p/fbug/issues/detail?id=2704 */
#fbContentBox:-moz-lwtheme .tabs-alltabs-button,
#fbContentBox:-moz-lwtheme .scrollbutton-up,
#fbContentBox:-moz-lwtheme .scrollbutton-down {
    background: url("chrome://firebug/skin/tabbar/tab-bkgnd.png") repeat-x;
    -moz-border-top-colors: ThreeDShadow rgba(255,255,255,.3);
    -moz-border-left-colors: ThreeDShadow rgba(255,255,255,.3);
    -moz-border-right-colors: ThreeDShadow;
    background-color: rgba(255,255,255,.5);
}

#fbContentBox:-moz-lwtheme .tabs-alltabs-button:hover,
#fbContentBox:-moz-lwtheme .scrollbutton-up:hover,
#fbContentBox:-moz-lwtheme .scrollbutton-down:hover
{
    background-image: url("chrome://firebug/skin/tabbar/tab-hover-bkgnd.png");
}
/* end overrides */

#fbFirebugMenu {
    margin-bottom: 1px;
    opacity: 0.8;
}


#fbFirebugMenu:hover,
#fbFirebugMenu[open="true"] {
    opacity: 1.0;
}

#fbFirebugMenu > .toolbarbutton-text,
#fbFirebugMenu > .toolbarbutton-menu-dropmarker {
    display: none;
}

.toolbar-text-button,
.toolbar-text-menubutton {
    padding: 3px 6px;
    color: #000000;
}

.toolbar-text-button[disabled="true"],
.toolbar-text-menubutton[disabled="true"] {
    color: graytext;
}

.toolbar-text-button[checked="true"] {
    padding: 3px 6px !important;
}

.toolbar-text-button > .toolbarbutton-icon,
.toolbar-text-menubutton > .toolbarbutton-icon {
    /*display: none;*/
}

.toolbar-text-menubutton:hover:active,
.toolbar-text-menubutton[open="true"] {
    padding: 4px 5px 2px 7px;
}

#fbToolbox .toolbarbutton-menu-dropmarker {
    margin-left: 3px;
}

/************************************************************************************************/

.toolbarbutton-iconic {
    -moz-appearance: none;
    padding: 0 !important;
    border: none !important;
    background: transparent !important;
}

.toolbarbutton-iconic > .toolbarbutton-icon {
    padding: 0;
}

#fbDebuggerButtons {
    margin-top: 1px;
}

#fbSearchButtons {
    margin-bottom: 2px;
}

#fbMinimizeButton {
    list-style-image: url(chrome://firebug/skin/win/minimize.png);
    -moz-image-region: rect(0, 16px, 16px, 0);
}

#fbMinimizeButton:hover {
    -moz-image-region: rect(16px, 16px, 32px, 0);
}

#fbMinimizeButton:hover:active {
    -moz-image-region: rect(32px, 16px, 48px, 0);
}

#fbDetachButton {
    list-style-image: url(chrome://firebug/skin/win/detach.png);
    -moz-image-region: rect(0, 16px, 16px, 0);
}

#fbDetachButton:hover {
    -moz-image-region: rect(16px, 16px, 32px, 0);
}

#fbDetachButton:hover:active {
    -moz-image-region: rect(32px, 16px, 48px, 0);
}

#fbCloseButton {
    list-style-image: url(chrome://firebug/skin/win/deactivate.png);
    -moz-image-region: rect(0, 16px, 16px, 0);
}

#fbCloseButton:hover {
    -moz-image-region: rect(16px, 16px, 32px, 0);
}

#fbCloseButton:hover:active {
    -moz-image-region: rect(32px, 16px, 48px, 0);
}

#fbCommandLineHistoryButton {
    list-style-image: url(chrome://firebug/skin/win/commandHistory.png);
    -moz-image-region: rect(0, 16px, 16px, 0);
}

#fbCommandLineHistoryButton:hover {
    -moz-image-region: rect(16px, 16px, 32px, 0);
}

#fbCommandLineHistoryButton:active,
#fbCommandLineHistoryButton[checked="true"] {
    -moz-image-region: rect(32px, 16px, 48px, 0);
}

#fbCommandLineHistoryButton[disabled] {
    -moz-image-region: rect(48px, 16px, 64px, 0);
}

#fbToggleCommandLine {
    list-style-image: url(chrome://firebug/skin/win/up.png);
    -moz-image-region: rect(0, 16px, 16px, 0);
}

#fbToggleCommandLine:hover {
    -moz-image-region: rect(16px, 16px, 32px, 0);
}

#fbToggleCommandLine:active {
    -moz-image-region: rect(32px, 16px, 48px, 0);
}

#fbToggleCommandEditor {
    list-style-image: url(chrome://firebug/skin/win/down.png);
    -moz-image-region: rect(0, 16px, 16px, 0);
}

#fbToggleCommandEditor:hover {
    -moz-image-region: rect(16px, 16px, 32px, 0);
}

#fbToggleCommandEditor:active {
    -moz-image-region: rect(32px, 16px, 48px, 0);
}

/************************************************************************************************/

#fbCommandEditor {
    -moz-appearance: none;
    border: none;
    /*border-top: 1px solid;*/
    -moz-border-top-colors: threedshadow;
    /*padding: 2px 0 0 2px;*/
}

#fbCommandToolbar {
    border-top: 1px solid threedshadow;
}

#fbToolbar {
    padding-bottom: 1px;
    border-bottom: none;
}

/* Set proper height of window buttons (close, min, detach) */
#fbWindowButtons.innerToolbar {
    margin-right: 4px;
    padding: 5px 0 6px 0;
}

/************************************************************************************************/

.panelTabBox {
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.25) 1px,
        rgba(0, 0, 0, 0.15) 1px,
        rgba(0, 0, 0, 0));
    border-bottom: 1px solid threedshadow;
    padding: 0;
    overflow: hidden;
}

.panelTabs {
    -moz-box-align: end;
}

panelTab {
    margin: 1px 0 0 0;
    border: 1px solid transparent;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    padding: 4px 7px;
    font-size: 11px;
    font-weight: bold;
    color: #565656;
    direction: ltr;
}

panelTab[selected="true"] {
    border: 1px solid #A0A0A0;
    border-bottom: none;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.9) 40%,
        rgba(255, 255, 255, 0.4) 40%,
        rgba(255, 255, 255, 0.6)) no-repeat 0 0;
    color: inherit;
}

panelTab:not([selected="true"]):hover {
    border: 1px solid #C8C8C8;
    border-bottom: none;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.4) 40%,
        rgba(255, 255, 255, 0) 40%,
        rgba(255, 255, 255, 0.1)) no-repeat 0 0;
}

.panelTab-text {
    margin: 0;
}

.panelTab-text[disabled="true"] {
    color: gray;
}

panelTab[selected="true"] > panelTabMenu {
    margin-left: 3px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.panelOptionsButton {
    -moz-appearance: none;
    border: none;
}

.panelOptionsButton,
.panelOptionsButton:hover:active,
.panelOptionsButton[open="true"] {
    margin: 2px;
    padding: 0 6px;
}

.panelOptionsButton:hover {
    cursor: pointer;
}

.panelOptionsButton:hover > .toolbarbutton-text {
    color: blue;
    text-decoration: underline;
}

.panelOptionsButton[open="true"] > .toolbarbutton-text {
    color: red;
    text-decoration: underline;
}

.panelOptionsButton[disabled="true"] > .toolbarbutton-text {
    color: graytext;
    text-decoration: none;
}

/************************************************************************************************/

#fbPanelStatus {
    margin: 0 5px 0 0;
    overflow: hidden;
}

.panelStatusSeparator {
    margin: 0;
    color: graytext;
}

.panelStatusLabel {
    cursor: pointer;
    margin: 0;
    padding: 0 4px;
    color: #000000;
}

.panelStatusLabel > .toolbarbutton-icon {
    margin: 0 !important;
}

.panelStatusLabel:hover {
    color: blue;
}

.panelStatusLabel[selected="true"] {
    font-weight: bold;
}

/************************************************************************************************/
/* Location list */

.menuHeader {
    margin: 2px 6px;
    font-weight: bold;
}


/************************************************************************************************/
/* Scrollable TabBar + TabList */

panelBarArrowscrollbox > .scrollbutton-up,
panelBarArrowscrollbox > .scrollbutton-down,
panelBarTabList > .fb-tabs-alltabs-button {
    margin: 0 !important;
}

#fbPanelBar1-tabBox > panelBarArrowscrollbox > .scrollbutton-up
{
    border-left: 1px solid ThreeDShadow !important;
    border-top-left-radius: 2px !important;
}

#fbPanelBar1-tabBox > panelBarArrowscrollbox > .scrollbutton-down
{
    border-right: 1px solid ThreeDShadow !important;
    border-top-right-radius: 2px !important;
}

#fbPanelBar1-tabBox > panelBarArrowscrollbox {
    margin-right: 4px;
}

#fbPanelBar2-tabBox > panelBarArrowscrollbox > .scrollbutton-up,
#fbPanelBar2-tabBox > panelBarArrowscrollbox > .scrollbutton-down,
#fbPanelBar2-tabBox > panelBarTabList > .fb-tabs-alltabs-button {
    border-top: none !important;
    border-radius: 0px !important;
}

#fbPanelBar1-buttons {
    margin: 0 4px 0 4px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.fb-tabs-alltabs-button {
    /*list-style-image: url("chrome://firebug/skin/tabbar/alltabs-box-bkgnd-icon.png");*/
    -moz-border-start: 2px solid;
    -moz-border-left-colors: rgba(0,0,0,0.25) rgba(255,255,255,0.15);
    -moz-border-right-colors: rgba(0,0,0,0.25) rgba(255,255,255,0.15);
    margin: 0;
    padding-left: 0;
    padding-right: 0;

    border-right: 1px solid ThreeDShadow !important;
    border-top-right-radius: 2px !important;
}

.fb-tabs-alltabs-button > .toolbarbutton-text {
    display: none;
}

/* Tab scrollbox arrow and all-tabs buttons */
panelBarArrowscrollbox > .scrollbutton-up,
panelBarArrowscrollbox > .scrollbutton-down,
.fb-tabs-alltabs-button {
    -moz-appearance: none;
    width: 18px;
    margin: 3px 0px 4px;
    padding: 0px;
    border: 2px solid;
    border-right-width: 1px;
    border-bottom: none;
    -moz-border-top-colors: ThreeDShadow rgba(255,255,255,.3);
    -moz-border-right-colors: ThreeDShadow;
    -moz-border-left-colors: ThreeDShadow rgba(255,255,255,.3);
    background: url("chrome://firebug/skin/tabbar/tab-bkgnd.png") repeat-x;
}

panelBarArrowscrollbox > .scrollbutton-up:not([disabled="true"]):hover,
panelBarArrowscrollbox > .scrollbutton-down:not([disabled="true"]):hover,
.fb-tabs-alltabs-button:hover {
    border-top-width: 1px;
    padding-top: 1px;
    -moz-border-top-colors: ThreeDShadow;
    -moz-border-right-colors: ThreeDShadow;
    -moz-border-left-colors: ThreeDShadow transparent;
    background-image: url("chrome://firebug/skin/tabbar/tab-hover-bkgnd.png");
}

panelBarArrowscrollbox > .scrollbutton-up[disabled="true"],
panelBarArrowscrollbox > .scrollbutton-down[disabled="true"] {
    opacity: 0.4;
}

panelBarArrowscrollbox > .scrollbutton-up {
    border-left-style: none;
    border-top-right-radius: 2px;
}

panelBarArrowscrollbox > .scrollbutton-up:-moz-locale-dir(rtl) {
    border-left-style: solid;
    border-right-style: none;
    border-top-left-radius: 2px;
    border-top-right-radius: 0px;
}

panelBarArrowscrollbox > .scrollbutton-down,
.fb-tabs-alltabs-button {
    border-right-style: none;
    border-top-left-radius: 2px;
}

panelBarArrowscrollbox > .scrollbutton-down:-moz-locale-dir(rtl) {
    border-left-style: none;
    border-right-style: solid;
    border-top-left-radius: 0px;
    border-top-right-radius: 2px;
}

.fb-tabs-alltabs-button > .toolbarbutton-text,
.fb-tabs-alltabs-button > .toolbarbutton-icon {
    display: none;
}

.fb-tabs-alltabs-button > .toolbarbutton-menu-dropmarker {
    margin: 2px 1px 2px 0px;
}
