/* See license.txt for terms of usage */

/************************************************************************************************/
/* Twisties */

.twisty,
.logRow-errorMessage > .hasTwisty > .errorTitle,
.logRow-log .objectBox-array.hasTwisty,
.logRow-spy .spyHead .spyTitle,
.logGroup > .logRow,
.memberRow.hasChildren > .memberLabelCell > .memberLabel,
.hasHeaders .netHrefLabel,
.objectBox-stackFrame.hasTwisty,
.netPageRow > .netCol > .netPageTitle,
.cssComputedHeader > .twisty {
    background-image: url(chrome://firebug/skin/win/twistyClosed.png);
    background-repeat: no-repeat;
    background-position: 2px 2px;
    min-height: 12px;
}

.logRow-errorMessage > .hasTwisty.opened > .errorTitle,
.logRow-log .objectBox-array.hasTwisty.opened,
.logRow-spy.opened .spyHead .spyTitle,
.logGroup.opened > .logRow,
.memberRow.hasChildren.opened > .memberLabelCell > .memberLabel,
.nodeBox.highlightOpen > .nodeLabel > .twisty,
.nodeBox.open > .nodeLabel > .twisty,
.netRow.opened > .netCol > .netHrefLabel,
.netPageRow.opened > .netCol > .netPageTitle,
.objectBox-stackFrame.hasTwisty.opened,
.computedStylesGroup.opened > .cssComputedHeader > .twisty {
    background-image: url(chrome://firebug/skin/win/twistyOpen.png);
}

.twisty {
    background-position: 4px 4px;
}

.hasHeaders .netHrefLabel {
    background-position: 2px 50%;
}

/************************************************************************************************/
/* DOM panel */

.closeButton {
    width: 16px;
    height: 16px;
    background: url(chrome://firebug/skin/win/close.png) no-repeat 0 0;
}

.closeButton:hover {
    background-position: 0 -16px;
}

.closeButton:hover:active {
    background-position: 0 -32px;
}