/* See license.txt for terms of usage */

#fbFirebugMenu > .toolbarbutton-text,
#fbFirebugMenu > .toolbarbutton-menu-dropmarker {
    display: none;
}

/************************************************************************************************/

#fbCommandToolbar {
    border-top: 1px solid #BBB9BA;
    border-bottom: 1px solid #BBB9BA;
    background: #F6F6F6 linear-gradient(to top, #FFFFFF, #E9E9E9 55%, #F2F2F2 55%, #FAFAFA) repeat-x;
}

#fbCommandArrow,
#fbCommandLine,
#fbCommandEditor,
#fbCommandLineCompletion,
#fbCommandLineMeasurer,
.fbCommandLineCompletions {
    font-family: Monaco, monospace;
}

/* Add some more padding to the completion popup */
.userTypedText {
    margin-left: 1px;
}

#fbCommandEditor {
    -moz-appearance: none;
    border: none;
    border-top: 1px solid;
    -moz-border-top-colors: #BBB9BA;
    padding: 2px;
}

#fbContentSplitter {
    border-color: #BBB9BA;
    background: #f3f3f3 !important;
}

#fbPanelSplitter {
    background: #f3f3f3 !important;
    border-left: 1px solid #BBB9BA;
    border-right: 1px solid #BBB9BA;
    min-width: 8px;
    max-width: 8px;
}

#fbPanelSplitter[orient="vertical"] {
    border: none;
    border-top: 1px solid #BBB9BA;
    min-height: 8px;
    max-height: 8px;
    min-width: 0;
    max-width: none;
}

#fbToolbar {
    padding-left: 4px;
    border-bottom: none;
}

.innerToolbar {
    margin-right: 5px;   /* add some space between last button and first tab */
}

#fbWindowButtons.innerToolbar {
    padding: 7px 0 7px 0;   /* Set proper height of window buttons (close, min, detach) */
}

.fbsearch-textbox {
    border-radius: 10px !important;
    margin-top: 1px;
}

.fbsearch-icon {
    width: 22px;
}

.fbsearch-icon,
.fbsearch-icon:hover {
    background-position: 5px 50%;
}

/* xxxsz: Use PNG images for condition editor, because using SVGs as border images is broken
   up to Firefox 22.0. Use SVGs as soon as Firefox 23.0 is the min. supported version.
   (see issue 6607) */
#fbSearchOptionsPanel {
    -moz-appearance: none;
    -moz-window-shadow: none;
    background-color: transparent;
    margin-bottom: 2px;
    margin-right: -12px;
    border-image: url(chrome://firebug/skin/mac/searchPanel.png) 16 50 24 12 stretch;
    border-image-slice: 16 50 24 12 fill;
    border-width: 16px 50px 24px 12px;
    border-style: solid;
    color: #ffffff;
}

#fbSearchOptionsPanel[position="after_end"] {
    border-image: url(chrome://firebug/skin/mac/searchPanelDown.png) 25 50 18 12 stretch;
    border-image-slice: 25 50 18 12 fill;
    border-width: 25px 50px 18px 12px;
}

#fbSearchOptionsPanel > vbox {
    margin-right: -38px;
}

#fbSearchOptionsPanel > description {
    margin: 0;
}

.fbsearch-options-label {
    color: #ffffff;
}

.fbsearch-options-buttons {
    -moz-appearance: none;
    background: #464646 linear-gradient(
        to top,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0) 55%,
        rgba(255, 255, 255, 0.1) 55%,
        rgba(255, 255, 255, 0.2)) repeat-x center center;
    border: 3px solid;
    -moz-border-top-colors: rgba(0,0,0,0.35) rgba(26,26,26,0.5) rgba(255,255,255,0.4);
    -moz-border-right-colors: rgba(53,53,53,1) rgba(53,53,53,1) rgba(162,162,162,1);
    -moz-border-bottom-colors: rgba(128,128,128,0.35) rgba(0,0,0,0.5) rgba(255,255,255,0.15);
    -moz-border-left-colors: rgba(0,0,0,0.35) rgba(26,26,26,0.5) rgba(255,255,255,0.4);
    border-radius: 20px;
    padding: 1px 9px;
    margin: 10px 0 0;
    min-height: 0px;
    color:  #ffffff;
}

.fbsearch-options-buttons > .button-box > .button-text {
    margin: 0 !important;
}

.fbsearch-options-buttons:hover {
    background-color: #666666 !important;
}

.fbsearch-options-buttons:active {
    background-color: #86888B !important;
}

/* Don't display label and remove padding for all the following toolbar buttons */
#fbFirebugMenu,
#fbInspectButton,
#fbNavigateBackButton,
#fbNavigateForwardButton,
#fbCommandPopupButton {
    margin: 0 1px 0 1px;
    padding: 0 1px 0 1px;
}

#fbFirebugMenu > .toolbarbutton-text,
#fbInspectButton > .toolbarbutton-text,
#fbNavigateBackButton > .toolbarbutton-text,
#fbNavigateForwardButton > .toolbarbutton-text,
#fbCommandPopupButton > .toolbarbutton-text {
    display: none;
}

.toolbarbutton-iconic {
    margin: 1px 1px 0 1px !important;
    padding: 0 !important;
}

.toolbarbutton-iconic > .toolbarbutton-icon {
    padding: 0;
}

.toolbarbutton-iconic > .toolbarbutton-text {
    display: none;
}

#fbMinimizeButton,
#fbToggleCommandEditor {
    list-style-image: url(chrome://firebug/skin/mac/minimize.png);
    -moz-image-region: rect(0px, 13px, 13px, 0px);
}

/* Need to use images instead of filters due to https://bugzil.la/886883 */
#fbMinimizeButton:hover,
#fbToggleCommandEditor:hover {
    -moz-image-region: rect(13px, 13px, 26px, 0px);
}

#fbMinimizeButton:hover:active,
#fbToggleCommandEditor:hover:active {
    -moz-image-region: rect(26px, 13px, 39px, 0px);
}

#fbDetachButton,
#fbToggleCommandLine {
    list-style-image: url(chrome://firebug/skin/mac/detach.png);
    -moz-image-region: rect(0px, 13px, 13px, 0px);
}

#fbDetachButton:hover,
#fbToggleCommandLine:hover {
    -moz-image-region: rect(13px, 13px, 26px, 0px);
}

#fbDetachButton:hover:active,
#fbToggleCommandLine:hover:active {
    -moz-image-region: rect(26px, 13px, 39px, 0px);
}

#fbToggleCommandLine,
#fbToggleCommandEditor {
    margin-right: 20px !important;
}

#fbCloseButton {
    list-style-image: url(chrome://firebug/skin/mac/close.png);
    -moz-image-region: rect(0px, 13px, 13px, 0px);
}

#fbCloseButton:hover {
    -moz-image-region: rect(13px, 13px, 26px, 0px);
}

#fbCloseButton:hover:active {
    -moz-image-region: rect(26px, 13px, 39px, 0px);
}

#fbCommandLineHistoryButton {
    list-style-image: url(chrome://firebug/skin/mac/commandHistory.png);
    -moz-image-region: rect(0px, 13px, 13px, 0px);
}

#fbCommandLineHistoryButton:hover {
    -moz-image-region: rect(13px, 13px, 26px, 0px);
}

#fbCommandLineHistoryButton:hover:active {
    -moz-image-region: rect(26px, 13px, 39px, 0px);
}

#fbCommandLineHistoryButton[disabled] {
    -moz-image-region: rect(39px, 13px, 52px, 0px);
}

#fbToggleCommandEditor {
    list-style-image: url(chrome://firebug/skin/mac/minimize.png);
    -moz-image-region: rect(0px, 13px, 13px, 0px);
}

#fbToggleCommandEditor:hover {
    -moz-image-region: rect(13px, 13px, 26px, 0px);
}

#fbToggleCommandEditor:hover:active {
    -moz-image-region: rect(26px, 13px, 39px, 0px);
}

/********************************************************************************************/
/* Quick Info Box */

#fbQuickInfoPanel {
    font-family: Monaco, monospace;
}

/************************************************************************************************/
/* Command History panel */

#fbCommandHistory {
    font-family: Monaco, monospace;
}

/********************************************************************************************/

.panelTabBox {
    background: linear-gradient(to bottom, #f1f1f1, #d2d2d2) no-repeat 0 0;
    border-bottom: 1px solid #bebebe;
    padding: 0;
    overflow: hidden;
}

.panelTabs {
    padding: 0 2px 0 2px;
    -moz-box-align: end;
}

panelTab {
    margin: 4px 1px 0 3px;
    border: 1px solid transparent;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    padding: 5px 8px 7px 8px;
    font-size: 11px;
    font-weight: bold;
    color: #3a3a3a;
    direction: ltr;
}

panelTab[aria-disabled="true"] .panelTab-text {
    -moz-appearance: none;
    color: #7c7c7c !important;
}

panelTab[selected="true"] {
    border: 1px solid #A0A0A0;
    border-bottom: none;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.6)) no-repeat 0 0;
    color: inherit;
}

panelTab:not([selected="true"]):hover {
    border: 1px solid #C8C8C8;
    border-bottom: none;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.2)) no-repeat 0 0;
}

.panelTab-text {
    margin: 0;
}

panelTab[selected="true"] > panelTabMenu {
    margin-left: 3px;
}

/************************************************************************************************/

#fbPanelStatus {
    margin: 2px 5px 3px 0;
    padding: 0 5px;
    overflow: hidden;
}

.panelStatusSeparator {
    margin: 0;
    color: #999999;
}

.panelStatusLabel {
    margin: 0;
    padding: 0 4px;
    cursor: pointer;
    color: #565656;
}

.panelStatusLabel:hover {
    color: blue;
}

.panelStatusLabel[selected="true"] {
    font-weight: bold;
}

.menuHeader {
    margin: 2px 16px;
    color: #565656;
}

/************************************************************************************************/

.toolbar-text-button,
.toolbar-text-menubutton {
    -moz-appearance: none;
    margin-top: 7px;
    margin-bottom: 6px;
    padding: 0 8px;
    min-width: 0;
    max-width: 13em;
    font-weight: bold;
    color: #3a3a3a;
    border: none !important;
    border-radius: 9px;
}

.toolbar-text-button > .toolbarbutton-text {
    margin-left: 7px;
}

.toolbar-text-button > .toolbarbutton-icon {
    display: none !important;
}

.toolbar-text-button:hover:not([disabled="true"]),
.toolbar-text-menubutton:hover:not([disabled="true"]) ,
.toolbar-text-button[checked="true"]:hover:not([disabled="true"]),
.toolbar-text-menubutton[open="true"]:hover:not([disabled="true"]) {
    box-shadow: 0 1px 2px rgba(0, 0, 0, .5) inset;
    background: rgba(0, 0, 0, 0.2);
}

.toolbar-text-button:hover:active:not([disabled="true"]),
.toolbar-text-menubutton:hover:active:not([disabled="true"]) {
    background: rgba(0, 0, 0, 0.5);
}

.toolbar-text-button:hover:not([disabled="true"]) > .toolbarbutton-text,
.toolbar-text-menubutton:hover:not([disabled="true"]) > .toolbarbutton-menu-dropmarker,
.toolbar-text-menubutton:hover:not([disabled="true"]) > .toolbarbutton-text {
    color: #fff;
    text-shadow: 0 1px rgba(120, 120, 120, 1);
}

.toolbar-text-button[checked="true"]:not([disabled="true"]),
.toolbar-text-menubutton[open="true"]:not([disabled="true"]) {
    text-shadow: 0 1px rgba(120, 120, 120, 1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .5) inset;
    background: rgba(0, 0, 0, 0.3);
}

.toolbar-text-menubutton:hover:active:not([disabled="true"]) > .toolbarbutton-text,
.toolbar-text-menubutton[open="true"]:not([disabled="true"]) > .toolbarbutton-text {
    color: #fff;
}

.toolbar-text-button > .toolbarbutton-text {
    color: #3a3a3a;
}

.toolbar-text-button[checked="true"] > .toolbarbutton-text {
    color: #fff;
}

.toolbar-text-button .toolbarbutton-text,
.toolbar-text-menubutton .toolbarbutton-text {
  font-size: 100% !important;
  margin: 0 !important;
}

.toolbar-text-button > .toolbarbutton-text,
.toolbar-text-menubutton > .toolbarbutton-text {
  display: -moz-box !important;
  height: 16px !important;
  padding-top: 1px;
}

.toolbar-text-button > .toolbarbutton-menu-dropmarker,
.toolbar-text-menubutton > .toolbarbutton-menu-dropmarker {
    list-style-image: url("chrome://browser/skin/bookmarks/folderarrow.png");
    width:  16px !important;
    height: 16px !important;
    padding: 5px 5px 4px 3px;
}

.toolbar-text-menubutton:hover:not([disabled="true"]) > .toolbarbutton-menu-dropmarker,
.toolbar-text-menubutton[open="true"]:not([disabled="true"]) > .toolbarbutton-menu-dropmarker  {
    list-style-image: url("chrome://browser/skin/bookmarks/folderarrow-hover.png");
}

.toolbar-text-button[disabled="true"] > .toolbarbutton-menu-dropmarker,
.toolbar-text-menubutton[disabled="true"] > .toolbarbutton-menu-dropmarker {
    list-style-image: none;
}

/********************************************************************************************/

.toolbar-text-menulist {
    margin-top: 0;
    margin-bottom: 0;
    -moz-appearance: none;
    color: #565656;
}

.toolbar-text-menulist > .menulist-label-box {
    -moz-appearance: none;
    border: none;
    padding-left: 8px;
    background: url(chrome://firebug/skin/menulistLeft.png) no-repeat left center;
}

.toolbar-text-menulist > .menulist-dropmarker {
    -moz-appearance: none;
    width: 20px;
    background: url(chrome://firebug/skin/menulistRight.png) no-repeat left center;
}

.toolbar-text-menulist > .menulist-dropmarker > .dropmarker-icon {
}

.toolbar-label {
    color: #565656;
}

/* ensure the inner toolbar background looks the same as the other toolbars */
#fbToolbarInner.innerToolbar {
    border-top: 1px solid #fff;
    margin-left: -5px;
    margin-right: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.6)) no-repeat 0 0;
}

.useA11y #fbPanelBar1 textbox[focused],
.searchOptionsMenu button:focus {
    -moz-outline-radius: 10px !important;
}

/* issue 2780, moved from upper level firebug.css, RMC */

.toolbar-image-button {
    -moz-appearance: none;
    margin: 0 2px;
    border: none;
    padding: 0 !important;
    background: transparent !important;
}

.toolbar-image-button > .toolbarbutton-icon {
    padding: 0 !important;
}

.toolbar-image-button > .toolbarbutton-text {
    display: none;
}


/************************************************************************************************/
/* Scrollable TabBar + TabList */

#fbPanelBar1-innerToolbar {
    margin-right: 0;
}

#fbPanelBar1-tabBox > panelBarArrowscrollbox > .scrollbutton-up {
    border-right: 2px solid !important;
    -moz-border-right-colors: rgba(0,0,0,0.25) rgba(255,255,255,0.15) !important;
    border-left: 2px solid transparent !important;
}

#fbPanelBar1-tabBox > panelBarArrowscrollbox > .scrollbutton-down {
    border-left: 2px solid !important;
    border-right: 2px solid !important;
    -moz-border-left-colors: rgba(0,0,0,0.25) rgba(255,255,255,0.15) !important;
    -moz-border-right-colors: rgba(0,0,0,0.25) rgba(255,255,255,0.15) !important;
}

.fb-tabs-alltabs-button > .toolbarbutton-text {
    display: none;
}

.fb-tabs-alltabs-button {
    margin-right: 0;
    padding: 0 4px 0 3px !important;
    border-left: 2px solid !important;
    border-right: 2px solid !important;
    -moz-border-left-colors: rgba(0,0,0,0.25) rgba(255,255,255,0.15) !important;
    -moz-border-right-colors: rgba(0,0,0,0.25) rgba(255,255,255,0.15) !important;
}

/*************************************************************************************************/
/* Panel Tabs */

panelTab[selected="true"] > panelTabMenu .menuTarget,
panelTab:focus > panelTabMenu .menuTarget {
    background: url(chrome://firebug/skin/mac/optionsMenuTarget.png) no-repeat center;
    width: 11px;
    height: 10px;
    vertical-align: middle;
    visibility: visible;
}

panelTab[selected="true"]:hover > panelTabMenu .menuTarget {
    background-image: url(chrome://firebug/skin/mac/optionsMenuTargetHover.png);
}

/************************************************************************************************/

#fbMigrationOk {
    font-family: Monaco, monospace;
}
