/* See license.txt for terms of usage */

/*************************************************************************************************/
/* Quick Info Box */

.fbQuickInfoPanelBody {
    font-family: Monaco, monospace;
}

.fbQuickInfoName, .fbQuickInfoValue {
    font-family: Monaco, monospace;
}

.fbQuickInfoPin {
    background: url(chrome://firebug/skin/mac/pin.png) no-repeat;
    width: 13px;
    height: 13px;
}

.fbQuickInfoClose {
    background: url(chrome://firebug/skin/mac/close.png) no-repeat;
    width: 13px;
    height: 13px;
}

.fbQuickInfoPin:hover,
.fbQuickInfoClose:hover {
    background-position: 0 -13px;
}

.fbQuickInfoPin.pin,
.fbQuickInfoPin:active {
    background: url(chrome://firebug/skin/mac/pinned.png) no-repeat;
}

.fbQuickInfoClose:active {
    background-position: 0 -26px;
}
