/* See license.txt for terms of usage */

.panelNode-cookies {
    overflow-x: hidden;
}

.cookieTable {
    width: 100%;
}

/************************************************************************************************/
/* Support for console */

.cookieEvent .cookieDomainLabel {
    font-family: Lucida Grande, sans-serif;
    font-weight: bold;
    color: #0000FF;
}

.logRow-cookie,
.logRow-cookiesCleared,
.logRow-cookiesRejected,
.logRow-cookie:hover {
    padding: 2px 0px 1px 22px !important;
    background-image: url(chrome://firecookie/skin/cookie14.png) !important;
    background-repeat: no-repeat !important;
    background-position: 4px 2px !important;
}

.logRow-cookiesRejected .cookieRejectedList {
    font-weight: bold;
}

.logRow-cookiesRejected .cookieList {
    color: rgb(128, 128, 128);
}

.logRow-cookiesRejected {
    border-bottom: 1px solid #D7D7D7;
}

.logRow-cookiesRejected .cookieCol,
.logRow-cookiesRejected > .logRow {
    border-bottom: 0;
    font-weight: normal;
    padding-top: 0px;
}

.logRow-cookiesRejected > .logRow:hover {
    text-decoration: none;
}

.logRow-cookiesRejected > .logGroupBody {
    margin-top: 3px;
}

.logRow-cookiesRejected > .cookieEvent {
    text-decoration: none;
}

.logRow-cookiesCleared > DIV {
    padding: 1px 0 2px 0 !important;
}

/* Container for document.cookie log within the Console panel */
.logRow-documentCookie {
    padding: 0;
}

/************************************************************************************************/
/* Console filtering */

.panelNode.hideType-cookies .logRow-cookie {
    display: none !important;
}

/************************************************************************************************/
/* Header for cookie list */

.cookieHeaderRow {
    height: 16px;
}

.cookieHeaderCell {
    cursor: pointer;
    -moz-user-select: none;
    border-bottom: 1px solid #9C9C9C;
    padding: 0 !important;
    font-weight: bold;
    background: #BBBBBB url(chrome://firecookie/skin/tableHeader.gif) repeat-x;
    white-space: nowrap;
}

.cookieHeaderRow > .cookieHeaderCell:first-child > .cookieHeaderCellBox {
    padding: 2px 14px 2px 18px;
}

.cookieHeaderCellBox {
    padding: 2px 14px 2px 10px;
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #9C9C9C;
}

.cookieHeaderCell:hover:active {
    background: #959595 url(chrome://firecookie/skin/tableHeaderActive.gif) repeat-x;
}

.cookieHeaderSorted {
    background: #7D93B2 url(chrome://firecookie/skin/tableHeaderSorted.gif) repeat-x;
}

.cookieHeaderSorted > .cookieHeaderCellBox {
    border-right-color: #6B7C93;
    background: url(chrome://firecookie/skin/arrowDown.png) no-repeat right;    
}

.cookieHeaderSorted.sortedAscending > .cookieHeaderCellBox {
    background-image: url(chrome://firecookie/skin/arrowUp.png);
}

.cookieHeaderSorted:hover:active {
    background: #536B90 url(chrome://firecookie/skin/tableHeaderSortedActive.gif) repeat-x;
}

/************************************************************************************************/
/* Column visibility */

/*
 * Every row is for one column, the first selector hides column in the header
 * (e.g. id=colName) and the second selector in all rows (e.g. class=cookieNameCol)
 * 
 * If a column is hidden, it's presented in a 'hiddenCols' attribute of the .cookieTable
 * element. Value of the attribute is a whitespace separated list of columns IDs.
 */
.cookieTable[hiddenCols~=colName] TD[id="colName"], .cookieTable[hiddenCols~=colName] TD.cookieNameCol,
.cookieTable[hiddenCols~=colValue] TD[id="colValue"], .cookieTable[hiddenCols~=colValue] TD.cookieValueCol,
.cookieTable[hiddenCols~=colDomain] TD[id="colDomain"], .cookieTable[hiddenCols~=colDomain] TD.cookieDomainCol,
.cookieTable[hiddenCols~=colSize] TD[id="colSize"], .cookieTable[hiddenCols~=colSize] TD.cookieSizeCol,
.cookieTable[hiddenCols~=colPath] TD[id="colPath"], .cookieTable[hiddenCols~=colPath] TD.cookiePathCol,
.cookieTable[hiddenCols~=colExpires] TD[id="colExpires"], .cookieTable[hiddenCols~=colExpires] TD.cookieExpiresCol,
.cookieTable[hiddenCols~=colHttpOnly] TD[id="colHttpOnly"], .cookieTable[hiddenCols~=colHttpOnly] TD.cookieHttpOnlyCol,
.cookieTable[hiddenCols~=colSecurity] TD[id="colSecurity"], .cookieTable[hiddenCols~=colSecurity] TD.cookieSecurityCol,
.cookieTable[hiddenCols~=colStatus] TD[id="colStatus"], .cookieTable[hiddenCols~=colStatus] TD.cookieStatusCol {
    display: none;
}

/************************************************************************************************/
/* Breakpoints */

.panelNode-cookies .cookieRowHeader {
    display: block;
}

/* This is the breakpoint column */
.cookieDebugCol {
    border-right: 1px solid #CCCCCC;
    background-color: #EEEEEE;
    cursor: pointer;
}

.cookieDebugCol .sourceLine {
    border-right: none;
}

/* When mouse is hovering over a cookie row, the breakpoint/debug column is highlighted. */
.cookieRow:hover > .cookieDebugCol,
.cookieRow:hover > .cookieDebugCol > .cookieRowHeader {
    background-color: #F6F6F6;
}

.cookieRowHeader {
    margin-right: 0 !important;
}

/* Display breakpoint disc */
.cookieRow .cookieRowHeader {
    background-position: 5px 1px;
}

.cookieRow[breakpoint="true"] .cookieRowHeader {
    background-image: url(chrome://firebug/skin/breakpoint.png);
}

.cookieRow[breakpoint="true"][disabledBreakpoint="true"] .cookieRowHeader {
    background-image: url(chrome://firebug/skin/breakpointDisabled.png);
}

#cookieBreakpointBar {
    max-width: 38px;
}

#colName > .cookieHeaderCellBox {
    border-left: 0px;
}

/************************************************************************************************/
/* Break on Next*/

/* panel badges */
#fbBreakOnNextButton[panelName="cookies"] #fbBreakOnImageCookies {
    visibility: visible;
    padding-right: 2px;
}

/************************************************************************************************/

.cookieRow .cookieNameLabel {
    background-image: url(chrome://firebug/skin/win/twistyClosed.png);
    background-repeat: no-repeat;
    background-position: 2px 2px;
}

.cookieNameLabel:hover {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

/*.cookieRow */.opened > .cookieCol > .cookieNameLabel {
    background-image: url(chrome://firebug/skin/win/twistyOpen.png);
}

/* Session cookies */
.sessionCookie > .cookieExpiresCol {
    color: green;
}

/* Rejected cookies are red in the Cookies tab */
.panelNode-cookies .rejectedCookie .cookieLabel {
    color: red !important;
}

/************************************************************************************************/

.cookieRow {
    background: white;
}

.cookieRow:hover {
    background: #EFEFEF;
}

.cookieCol {
    padding: 0;
    vertical-align: top;
    border-bottom: 1px solid #EFEFEF;  
    white-space: nowrap;
}

.cookieLabel {
}

/* Support for search box */
.panelNode.searching .cookieRow {
    display: none;
}

.cookieRow.matched {
    display: table-row !important;
}

/************************************************************************************************/

.cookieNameLabel {
    -moz-box-sizing: padding-box;
    overflow: hidden;
    padding-top: 1px;
    font-weight: bold;
    min-width: 70px;
    margin-left: 5px;
}

.cookieNameCol > .cookieNameLabel {
    padding-left: 18px;
}

.cookieDomainLabel,
.cookieSizeLabel,
.cookiePathLabel,
.cookieExpiresLabel,
.cookieValueLabel {
    padding: 1px 0 2px 0 !important;
    /*width: 100%; See issue 63*/
}

.cookieDomainLabel {
    color: rgb(0, 0, 255);
}

.cookieDomainLabel:hover {
    text-decoration:underline;
    cursor:pointer;
}

.cookieValueLabel {
    color: rgb(128, 128, 128);
}

/* This style makes sure that only portion of text is visible
 depending on current size (width) of the parent column */
.cookiePathLabel,
.cookieValueLabel {
    overflow: hidden;
    display: -moz-box;
}

/* This style is to avoid warning: XUL box for div element contained 
 an inline span child, forcing all its children to be wrapped in a block, 
 which is caused by the previous style.
 
 Related to following message:
 nsIScriptError: XUL box for div element contained an inline #text child,
 forcing all its children to be wrapped in a block. [JavaScript Warning:
 "XUL box for div element contained an inline #text child, forcing all
 its children to be wrapped in a block."
 {file: "chrome://firebug/content/panel.html" line: 0}]
 */
.cookiePathLabel span,
.cookieValueLabel span {
    display: inline-block;
}

.cookieDomainCol,
.cookieSizeCol,
.cookiePathCol,
.cookieExpiresCol,
.cookieValueCol,
.cookieSecurityCol,
.cookieStatusCol,
.cookieHttpOnlyCol {
    padding-left: 10px;
}

.cookieHttpOnlyCol {
    color: green;
}

.cookieSizeCol {
    text-align :right;
    padding-right: 10px;
}

/************************************************************************************************/

.cookieInfoCol {
    border-top: 1px solid #EEEEEE;
    background: url(chrome://firebug/skin/group.gif) repeat-x #FFFFFF;
}

.cookieInfoBody {
    margin: 10px 0 4px 10px;
}

.cookieInfoTabs {
    position: relative;
    padding-left: 14px;
}

.cookieInfoTab {
    position: relative;
    top: -3px;
    margin-top: 10px;
    padding: 4px 6px;
    border: 1px solid transparent;
    border-bottom: none;
    font-weight: bold;
    color: #565656;
}

.cookieInfoTab:hover {
    cursor: pointer;
}

.cookieInfoTab[selected="true"] {
    cursor: default !important;
    border-color: #D7D7D7;
    -moz-border-radius: 4px 4px 0 0;
    background-color: #FFFFFF;
}

.cookieInfoText {
    display: none;
    margin: 0;
    border: 1px solid #D7D7D7;
    border-right: none;
    padding: 8px;
    background-color: #FFFFFF;
    font-family: monospace;
    overflow-x: auto;
}

.cookieInfoText[selected="true"] {
    display: block;
}

/************************************************************************************************/

/* Support for Net panel */
.netInfoCookiesText {
    padding: 0 !important;
}

.netInfoCookiesList {
    padding: 5px 0 5px 20px;
    margin: 0px; 
}

.netInfoCookiesGroup {
    font-family: Lucida Grande, Tahoma, sans-serif;
    font-weight: bold;
    color: #565656;
    list-style-type: disc;
}

.netInfoCookies {
    margin: 5px 0 5px 0;
}

.netInfoCookies > .cookieTable {
    border-left: solid 1px rgb(239, 239, 239);
}

.netInfoCookies .cookieInfoRow:last-child > .cookieInfoCol {
    border-bottom: 1px solid #EEEEEE;
}

.cookieInfoRow .cookieRowHeader {
    display: table-cell;
}

/************************************************************************************************/

/* Hide breakpoint column + proper header field (ie the cookieBreakpointBar) within the net
   panel info body */
.netInfoCookiesText .cookieInfoRow .cookieRowHeader,
.netInfoCookiesText #cookieBreakpointBar,
.netInfoCookiesText .cookieDebugCol {
    display: none;
}

/* Hide breakpoint column + proper header field (ie the cookieBreakpointBar) within the
   console panel (when logging document.cookie) */
.documentCookieBody .cookieInfoRow .cookieRowHeader,
.documentCookieBody #cookieBreakpointBar,
.documentCookieBody .cookieDebugCol {
    display: none;
}

/************************************************************************************************/

.disabledPanelBox .descImage-cookies {
    background-image: url(chrome://firecookie/skin/activation-menu-cookies.png);
}

/************************************************************************************************/
